interactions:
- request:
    body: '{"cvv": "123", "card_number": "4111111111111111", "expiration_year": "2025",
      "expiration_month": "09", "email": "richardc9a8@piedpiper.com"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body:
      string: "{\"object\":\"token\",\"id\":\"tkn_test_0Fudf5nlXzFKZqI0\",\"type\"\
        :\"card\",\"creation_date\":1589341017000,\"email\":\"richardc9a8@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"\
        PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"\
        Escritorio\"},\"metadata\":{}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - Mc22AG0VoAMF_pg=
      x-amzn-Remapped-Content-Length:
      - '617'
      x-amzn-RequestId:
      - 15a0257a-9d45-46cf-af3e-9b19840130ee
    status:
      code: 201
      message: Created
- request:
    body: '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
      "PE", "email": "richardc9a8@piedpiper.com", "first_name": "Richard", "last_name":
      "Piedpiper", "phone_number": "+51998989789"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/customers
  response:
    body:
      string: '{"object":"customer","id":"cus_test_juDHorLdk6ePkyA8","creation_date":1589341018864,"email":"richardc9a8@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
        Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - Mc22LHmToAMF1Aw=
      x-amzn-RequestId:
      - 594e7cb5-7dde-4313-80ab-71e6e055969d
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '6892490'
      x-culqi-version:
      - 2.0.0
    status:
      code: 201
      message: Created
- request:
    body: '{"token_id": "tkn_test_0Fudf5nlXzFKZqI0", "customer_id": "cus_test_juDHorLdk6ePkyA8"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/cards
  response:
    body:
      string: "{\"object\":\"card\",\"id\":\"crd_test_K1CyQsga8C6jlZ2c\",\"active\"\
        :true,\"creation_date\":1589341023123,\"customer_id\":\"cus_test_juDHorLdk6ePkyA8\"\
        ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_0Fudf5nlXzFKZqI0\",\"\
        type\":\"card\",\"creation_date\":1589341017000,\"email\":\"richardc9a8@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"\
        PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"\
        Escritorio\"},\"metadata\":{}},\"metadata\":{\"ZDA\":true}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - Mc22QEr4oAMFhJg=
      x-amzn-RequestId:
      - eadee22f-fcef-43cf-9fc0-b40c62f29cf2
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '6892491'
      x-culqi-version:
      - 2.0.0
    status:
      code: 201
      message: Created
- request:
    body: 'null'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: DELETE
    uri: https://api.culqi.com/v2/cards/crd_test_K1CyQsga8C6jlZ2c
  response:
    body:
      string: "{\"id\":\"crd_test_K1CyQsga8C6jlZ2c\",\"deleted\":true,\"merchant_message\"\
        :\"Se elimin\xF3 la tarjeta con ID crd_test_K1CyQsga8C6jlZ2c exitosamente.\"\
        }"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '6892494'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - Mc229EFCIAMFvjA=
      x-amzn-Remapped-Date:
      - Wed, 13 May 2020 03:37:03 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - 5f78fa7b-4ffb-42f4-9c16-ed7f42239e7d
    status:
      code: 200
      message: OK
version: 1
