interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: GET
    uri: https://api.culqi.com/v2/cards
  response:
    body: {string: "{\"data\":[{\"object\":\"card\",\"id\":\"crd_test_rdfZbf1KZTZJ7ANV\"\
        ,\"active\":true,\"creation_date\":1578103028000,\"customer_id\":\"cus_test_bOHV1StJOcFzZCIu\"\
        ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_MHlDz54OdrAw6WeT\",\"\
        type\":\"card\",\"creation_date\":1578103018000,\"email\":\"richardeb54@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"2800:200:e208:17e:6229:ea16:607c:4d74\",\"ip_country\":\"Peru\"\
        ,\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\"\
        :null,\"device_type\":\"Escritorio\"},\"metadata\":{}},\"metadata\":{}},{\"\
        object\":\"card\",\"id\":\"crd_test_LhV7tU5SpqTC2bPK\",\"active\":true,\"\
        creation_date\":1578102944000,\"customer_id\":\"cus_test_xXWAYuefaWsyenNu\"\
        ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_ELoDiSUrNQNodjN4\",\"\
        type\":\"card\",\"creation_date\":1578102938000,\"email\":\"richard5e74@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"b[...]
