interactions:
- request:
    body: '{"card_number": "36001212121210", "expiration_month": "04", "expiration_year":
      "2025", "cvv": "964", "email": "richardbdb0@piedpiper.com"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body:
      string: '{"object":"token","id":"tkn_test_dK0ExmtmJBZji1rV","type":"card","creation_date":1589954832000,"email":"richardbdb0@piedpiper.com","card_number":"360012****1210","last_four":"1210","active":true,"iin":{"object":"iin","bin":"360012","card_brand":"Diners","card_type":"debito","card_category":null,"issuer":{"name":"BERLINER
        BANK AG","country":"Germany","country_code":"PE","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"190.237.22.191","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0RahF4DIAMF-vw=
      x-amzn-Remapped-Content-Length:
      - '598'
      x-amzn-RequestId:
      - 6a982f25-1e7d-4bcf-b401-6f4a999b1789
    status:
      code: 201
      message: Created
- request:
    body: '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
      "PE", "email": "richardbdb0@piedpiper.com", "first_name": "Richard", "last_name":
      "Piedpiper", "phone_number": "+51998989789"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/customers
  response:
    body:
      string: '{"object":"customer","id":"cus_test_ppGhkncLbs897Sqr","creation_date":1589954833865,"email":"richardbdb0@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
        Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0RaxGemIAMF_zQ=
      x-amzn-RequestId:
      - f5c3158f-0cbe-44c9-b358-0974c01a2160
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '7213379'
      x-culqi-version:
      - 2.0.0
    status:
      code: 201
      message: Created
- request:
    body: '{"token_id": "tkn_test_dK0ExmtmJBZji1rV", "customer_id": "cus_test_ppGhkncLbs897Sqr"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/cards
  response:
    body:
      string: '{"object":"card","id":"crd_test_1qZDDAT4NwfK62HT","active":true,"creation_date":1589954841050,"customer_id":"cus_test_ppGhkncLbs897Sqr","source":{"object":"token","id":"tkn_test_dK0ExmtmJBZji1rV","type":"card","creation_date":1589954832000,"email":"richardbdb0@piedpiper.com","card_number":"360012****1210","last_four":"1210","active":true,"iin":{"object":"iin","bin":"360012","card_brand":"Diners","card_type":"debito","card_category":null,"issuer":{"name":"BERLINER
        BANK AG","country":"Germany","country_code":"PE","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"190.237.22.191","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}},"metadata":{"ZDA":true}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0Ra6HvkoAMFszw=
      x-amzn-RequestId:
      - 7014aa50-8714-4f95-b1f0-f5d9b2d269f3
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '7213380'
      x-culqi-version:
      - 2.0.0
    status:
      code: 201
      message: Created
version: 1
