interactions:
- request:
    body: !!python/unicode '{"email": "richard40f0@piedpiper.com", "cvv": "123", "expiration_year":
      "2020", "card_number": "4111111111111111", "expiration_month": "09"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body: {string: "{\"object\":\"token\",\"id\":\"tkn_test_MEFINweGWzXv5Wlx\",\"\
        type\":\"card\",\"creation_date\":1578103048000,\"email\":\"richard40f0@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"2800:200:e208:17e:6229:ea16:607c:4d74\",\"ip_country\":\"Peru\"\
        ,\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\"\
        :null,\"device_type\":\"Escritorio\"},\"metadata\":{}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKZTHcIIAMFf-Q=]
      x-amzn-remapped-content-length: ['640']
      x-amzn-requestid: [79d540e2-df9e-4e99-958a-95d67b9a189b]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"first_name": "Richard", "email": "richard40f0@piedpiper.com",
      "address": "Avenida Lima 123213", "phone_number": "+51998989789", "address_city":
      "LIMA", "country_code": "PE", "last_name": "Piedpiper"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/customers
  response:
    body: {string: !!python/unicode '{"object":"customer","id":"cus_test_I2PorlMmrcG4U1aR","creation_date":1578103049831,"email":"richard40f0@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
        Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKZhG32IAMFxMw=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:57:29 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [83733eef-398f-40ee-a303-c2eecaa1b0e4]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183878']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"customer_id": "cus_test_I2PorlMmrcG4U1aR", "token_id":
      "tkn_test_MEFINweGWzXv5Wlx"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/cards
  response:
    body: {string: "{\"object\":\"card\",\"id\":\"crd_test_jadM22HWEt3NVQY0\",\"active\"\
        :true,\"creation_date\":1578103054006,\"customer_id\":\"cus_test_I2PorlMmrcG4U1aR\"\
        ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_MEFINweGWzXv5Wlx\",\"\
        type\":\"card\",\"creation_date\":1578103048000,\"email\":\"richard40f0@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"2800:200:e208:17e:6229:ea16:607c:4d74\",\"ip_country\":\"Peru\"\
        ,\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\"\
        :null,\"device_type\":\"Escritorio\"},\"metadata\":{}},\"metadata\":{\"ZDA\"\
        :true}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKZmG5QIAMFxMw=]
      x-amzn-requestid: [427e368b-3e03-46d1-b79b-8ed8fce45ee0]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183879']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: PATCH
    uri: https://api.culqi.com/v2/cards/crd_test_jadM22HWEt3NVQY0
  response:
    body: {string: "{\"object\":\"card\",\"id\":\"crd_test_jadM22HWEt3NVQY0\",\"active\"\
        :true,\"creation_date\":1578103054000,\"customer_id\":\"cus_test_I2PorlMmrcG4U1aR\"\
        ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_MEFINweGWzXv5Wlx\",\"\
        type\":\"card\",\"creat[...]
