interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: GET
    uri: https://api.culqi.com/v2/cards
  response:
    body:
      string: "{\"data\":[{\"object\":\"card\",\"id\":\"crd_test_SevqN2Spqz9j6xXE\"\
        ,\"active\":true,\"creation_date\":1589341016000,\"customer_id\":\"cus_test_rMP2wkRXZeZ1rthC\"\
        ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_nTsxnrSMfc74bBfL\",\"\
        type\":\"card\",\"creation_date\":1589341010000,\"email\":\"richardadf6@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"\
        PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"\
        Escritorio\"},\"metadata\":{}},\"metadata\":{}},{\"object\":\"card\",\"id\"\
        :\"crd_test_rzjS4xeDD0Vfs90o\",\"active\":true,\"creation_date\":1581524721000,\"\
        customer_id\":\"cus_test_rmhgaiBeipvYCsJf\",\"source\":{\"object\":\"token\"\
        ,\"id\":\"tkn_test_wDpFlN8j7lROrh1C\",\"type\":\"card\",\"creation_date\"\
        :1581524715000,\"email\":\"richard9995@piedpiper.com\",\"card_number\":\"\
        411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\"\
        :\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\"\
        ,\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\"\
        :\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"\
        installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"\
        190.237.93.247\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\"\
        :\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"\
        metadata\":{}},\"metadata\":{}},{\"object\":\"card\",\"id\":\"crd_test_Ne8KOmT0YRMLwA1f\"\
        ,\"active\":true,\"creation_date\":1581524704000,\"customer_id\":\"cus_test_rGzA1nfHEMKgOKr4\"\
        ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_cAjgonAqvSWtYORE\",\"\
        type\":\"card\",\"cr[...]
