interactions:
- request:
    body: '{"card_number": "36000100000007", "expiration_month": "12", "expiration_year":
      "2025", "cvv": "820", "email": "richard0571@piedpiper.com"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body:
      string: '{"object":"token","id":"tkn_test_3Mgi8cnVfjgnOiEX","type":"card","creation_date":1589954872000,"email":"richard0571@piedpiper.com","card_number":"360001****0007","last_four":"0007","active":true,"iin":{"object":"iin","bin":"360001","card_brand":"Diners","card_type":"credito","card_category":null,"issuer":{"name":"","country":"NICARAGUA","country_code":"NI","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"190.237.22.191","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0Rg3Ee3oAMFTIg=
      x-amzn-Remapped-Content-Length:
      - '585'
      x-amzn-RequestId:
      - 6a622af9-f7ab-4839-b772-41fd120bd177
    status:
      code: 201
      message: Created
- request:
    body: '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
      "PE", "email": "richard0571@piedpiper.com", "first_name": "Richard", "last_name":
      "Piedpiper", "phone_number": "+51998989789"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/customers
  response:
    body:
      string: '{"object":"customer","id":"cus_test_YaFFahiBtu0gGe6X","creation_date":1589954874224,"email":"richard0571@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
        Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0RhEFtmoAMF6CQ=
      x-amzn-RequestId:
      - 7094dc21-139e-48e2-928b-7dd0da677c6b
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '7213395'
      x-culqi-version:
      - 2.0.0
    status:
      code: 201
      message: Created
- request:
    body: '{"token_id": "tkn_test_3Mgi8cnVfjgnOiEX", "customer_id": "cus_test_YaFFahiBtu0gGe6X"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/cards
  response:
    body:
      string: "{\"object\":\"error\",\"type\":\"card_error\",\"charge_id\":\"chr_test_PggJ2FShZGjT1mTD\"\
        ,\"code\":\"card_declined\",\"decline_code\":\"processing_error\",\"merchant_message\"\
        :\"Error de procesamiento. Ocurri\xF3 un error mientras procesabamos la compra.\
        \ Cont\xE1ctate con culqi.com/soporte para que te demos una soluci\xF3n.\"\
        ,\"user_message\":\"Ocurri\xF3 un error mientras procesabamos tu compra. Cont\xE1\
        ctate con culqi.com/soporte para que te demos una soluci\xF3n.\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0RhOEoBoAMF_gQ=
      x-amzn-RequestId:
      - 88ea7853-4d2e-4997-8ee3-84d049044929
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '7213396'
      x-culqi-version:
      - 2.0.0
    status:
      code: 400
      message: Bad Request
version: 1
