interactions:
- request:
    body: '{"card_number": "370002000000008", "expiration_month": "05", "expiration_year":
      "2025", "cvv": "1810", "email": "richardb440@piedpiper.com"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body:
      string: '{"object":"token","id":"tkn_test_BtqHoRBLa7jeyJ81","type":"card","creation_date":1589954929000,"email":"richardb440@piedpiper.com","card_number":"370002*****0008","last_four":"0008","active":true,"iin":{"object":"iin","bin":"370002","card_brand":"Amex","card_type":"credito","card_category":null,"issuer":{"name":"AMERICAN
        EXPRESS COMPANY","country":"BRAZIL","country_code":"BR","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"190.237.22.191","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0RprGA5oAMFucw=
      x-amzn-Remapped-Content-Length:
      - '605'
      x-amzn-RequestId:
      - 28cdbffa-d464-4556-aafd-8f9be31dc640
    status:
      code: 201
      message: Created
- request:
    body: '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
      "PE", "email": "richardb440@piedpiper.com", "first_name": "Richard", "last_name":
      "Piedpiper", "phone_number": "+51998989789"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/customers
  response:
    body:
      string: '{"object":"customer","id":"cus_test_UMthBMbEoK5sOlEE","creation_date":1589954930377,"email":"richardb440@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
        Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0Rp2EfroAMFtGg=
      x-amzn-RequestId:
      - c1c6e820-78ba-4afa-83f7-0052e20f3319
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '7213418'
      x-culqi-version:
      - 2.0.0
    status:
      code: 201
      message: Created
- request:
    body: '{"token_id": "tkn_test_BtqHoRBLa7jeyJ81", "customer_id": "cus_test_UMthBMbEoK5sOlEE"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/cards
  response:
    body:
      string: "{\"object\":\"error\",\"type\":\"card_error\",\"charge_id\":\"chr_test_RD24ZJjKwxvDsR3L\"\
        ,\"code\":\"card_declined\",\"decline_code\":\"issuer_decline_operation\"\
        ,\"merchant_message\":\"Operaci\xF3n denegada. La operaci\xF3n fue denegada\
        \ por el banco emisor de la tarjeta por una raz\xF3n desconocida.\",\"user_message\"\
        :\"La operaci\xF3n ha sido denegada por la entidad emisora de tu tarjeta.\
        \ Cont\xE1ctate con el banco para conocer el motivo de la denegaci\xF3n o\
        \ intenta nuevamente con otra tarjeta.\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0Rp7GMmIAMFqgg=
      x-amzn-RequestId:
      - 4e2982b4-213e-4dca-834b-604f95572b75
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '7213419'
      x-culqi-version:
      - 2.0.0
    status:
      code: 400
      message: Bad Request
version: 1
