interactions:
- request:
    body: '{"card_number": "5400020000000003", "expiration_month": "07", "expiration_year":
      "2025", "cvv": "203", "email": "richard09a7@piedpiper.com"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body:
      string: '{"object":"token","id":"tkn_test_LWrgC363PPQejwmG","type":"card","creation_date":1589954909000,"email":"richard09a7@piedpiper.com","card_number":"540002******0003","last_four":"0003","active":true,"iin":{"object":"iin","bin":"540002","card_brand":"MasterCard","card_type":"credito","card_category":null,"issuer":{"name":"BARCLAYS
        BANK PLC","country":"UNITED KINGDOM","country_code":"GB","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"190.237.22.191","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0RmkFHaoAMF4Rg=
      x-amzn-Remapped-Content-Length:
      - '613'
      x-amzn-RequestId:
      - a163ce1d-3896-40a0-aaa8-546f07aa5f05
    status:
      code: 201
      message: Created
- request:
    body: '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
      "PE", "email": "richard09a7@piedpiper.com", "first_name": "Richard", "last_name":
      "Piedpiper", "phone_number": "+51998989789"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/customers
  response:
    body:
      string: '{"object":"customer","id":"cus_test_LJAqVqqlf3OkMQ49","creation_date":1589954910818,"email":"richard09a7@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
        Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0RmyF6UoAMFThg=
      x-amzn-RequestId:
      - dfce8741-d333-4b8d-a8a4-8a9dad52c5c1
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '7213403'
      x-culqi-version:
      - 2.0.0
    status:
      code: 201
      message: Created
- request:
    body: '{"token_id": "tkn_test_LWrgC363PPQejwmG", "customer_id": "cus_test_LJAqVqqlf3OkMQ49"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/cards
  response:
    body:
      string: "{\"object\":\"error\",\"type\":\"card_error\",\"charge_id\":\"chr_test_s3y81ESU9cQwGJFe\"\
        ,\"code\":\"card_declined\",\"decline_code\":\"incorrect_cvv\",\"merchant_message\"\
        :\"CVV incorrecto. El c\xF3digo de seguridad (CVV2, CVC2, CID) de la tarjeta\
        \ es incorrecto.\",\"user_message\":\"El c\xF3digo de seguridad (CVV) es incorrecto.\
        \ Verifica tu tarjeta e ingresa los d\xEDgitos correctamente. Si es denegada\
        \ nuevamente, cont\xE1ctate con el banco emisor de tu tarjeta. \"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0Rm7GdFoAMFgMA=
      x-amzn-RequestId:
      - e075951b-22ee-4e60-9498-8362b43d867f
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '7213404'
      x-culqi-version:
      - 2.0.0
    status:
      code: 400
      message: Bad Request
version: 1
