interactions:
- request:
    body: !!python/unicode '{"email": "richardfc89@piedpiper.com", "cvv": "123", "expiration_year":
      "2020", "card_number": "4111111111111111", "expiration_month": "09"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body: {string: "{\"object\":\"token\",\"id\":\"tkn_test_NXzOhjOQy7YLPc6q\",\"\
        type\":\"card\",\"creation_date\":1578103041000,\"email\":\"richardfc89@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"2800:200:e208:17e:6229:ea16:607c:4d74\",\"ip_country\":\"Peru\"\
        ,\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\"\
        :null,\"device_type\":\"Escritorio\"},\"metadata\":{}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKYNHZHoAMFcdA=]
      x-amzn-remapped-content-length: ['640']
      x-amzn-requestid: [fcb0c75a-1cc0-4a0c-8026-bdf5d0445e2b]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"first_name": "Richard", "email": "richardfc89@piedpiper.com",
      "address": "Avenida Lima 123213", "phone_number": "+51998989789", "address_city":
      "LIMA", "country_code": "PE", "last_name": "Piedpiper"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/customers
  response:
    body: {string: !!python/unicode '{"object":"customer","id":"cus_test_hgxqCKizf3biDOTz","creation_date":1578103042833,"email":"richardfc89@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
        Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKYbG-iIAMFcdQ=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:57:22 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [da786280-a81f-4910-9351-567fc9b8ec8d]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183872']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"customer_id": "cus_test_hgxqCKizf3biDOTz", "token_id":
      "tkn_test_NXzOhjOQy7YLPc6q"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/cards
  response:
    body: {string: "{\"object\":\"card\",\"id\":\"crd_test_n4eC4iihfmmHdWuT\",\"active\"\
        :true,\"creation_date\":1578103047065,\"customer_id\":\"cus_test_hgxqCKizf3biDOTz\"\
        ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_NXzOhjOQy7YLPc6q\",\"\
        type\":\"card\",\"creation_date\":1578103041000,\"email\":\"richardfc89@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"2800:200:e208:17e:6229:ea16:607c:4d74\",\"ip_country\":\"Peru\"\
        ,\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\"\
        :null,\"device_type\":\"Escritorio\"},\"metadata\":{}},\"metadata\":{\"ZDA\"\
        :true}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKYgHaYoAMFdYw=]
      x-amzn-requestid: [c885481b-ff54-4b6b-8c56-4627347b287d]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183873']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: GET
    uri: https://api.culqi.com/v2/cards/crd_test_n4eC4iihfmmHdWuT
  response:
    body: {string: "{\"object\":\"card\",\"id\":\"crd_test_n4eC4iihfmmHdWuT\",\"active\"\
        :true,\"creation_date\":1578103047000,\"customer_id\":\"cus_test_hgxqCKizf3biDOTz\"\
        ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_NXzOhjOQy7YLPc6q\",\"\
        type\":\"c[...]
