interactions:
- request:
    body: !!python/unicode '{"email": "richardc055@piedpiper.com", "cvv": "123", "expiration_year":
      "2020", "card_number": "4111111111111111", "expiration_month": "09"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body: {string: "{\"object\":\"token\",\"id\":\"tkn_test_5b3abaNJxGREC5HL\",\"\
        type\":\"card\",\"creation_date\":1578103029000,\"email\":\"richardc055@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"2800:200:e208:17e:6229:ea16:607c:4d74\",\"ip_country\":\"Peru\"\
        ,\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\"\
        :null,\"device_type\":\"Escritorio\"},\"metadata\":{}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKWYHjwIAMFTyQ=]
      x-amzn-remapped-content-length: ['640']
      x-amzn-requestid: [6da515a5-1d63-463b-9b75-b3e2ce8287c0]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"first_name": "Richard", "email": "richardc055@piedpiper.com",
      "address": "Avenida Lima 123213", "phone_number": "+51998989789", "address_city":
      "LIMA", "country_code": "PE", "last_name": "Piedpiper"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/customers
  response:
    body: {string: !!python/unicode '{"object":"customer","id":"cus_test_KflE6JJBVb9lTFjH","creation_date":1578103031192,"email":"richardc055@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
        Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKWnHB4IAMFuhQ=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:57:11 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [f94e7881-de0c-4e67-8f21-9db427700184]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183865']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"customer_id": "cus_test_KflE6JJBVb9lTFjH", "token_id":
      "tkn_test_5b3abaNJxGREC5HL"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/cards
  response:
    body: {string: "{\"object\":\"card\",\"id\":\"crd_test_CuBn2akA8SfuLn5j\",\"active\"\
        :true,\"creation_date\":1578103035198,\"customer_id\":\"cus_test_KflE6JJBVb9lTFjH\"\
        ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_5b3abaNJxGREC5HL\",\"\
        type\":\"card\",\"creation_date\":1578103029000,\"email\":\"richardc055@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"2800:200:e208:17e:6229:ea16:607c:4d74\",\"ip_country\":\"Peru\"\
        ,\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\"\
        :null,\"device_type\":\"Escritorio\"},\"metadata\":{}},\"metadata\":{\"ZDA\"\
        :true}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKWrGLZoAMFw1g=]
      x-amzn-requestid: [5830f02f-34f0-49be-8492-63f4bd88e876]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183866']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode 'null'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: DELETE
    uri: https://api.culqi.com/v2/cards/crd_test_CuBn2akA8SfuLn5j
  response:
    body: {string: "{\"id\":\"crd_test_CuBn2akA8SfuLn5j\",\"deleted\":true,\"merchant_message\"\
        :\"Se elimin\xF3 la tarjeta con ID crd_test_CuBn2akA8SfuLn5j exitosamente.\"\
        }"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKXUHfhoAMF-_g=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:57:15 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [8291e186-f7f7-4049-8f55-a57100bffbdc]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183869']
      x-culqi-version: [2.0.0]
    status: {code: 200, message: OK}
version: 1
