interactions:
- request:
    body: '{"card_number": "5400000000000005", "expiration_month": "01", "expiration_year":
      "2025", "cvv": "492", "email": "richard7bd8@piedpiper.com"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body:
      string: '{"object":"token","id":"tkn_test_mrfWExFFCmhbSWih","type":"card","creation_date":1589954904000,"email":"richard7bd8@piedpiper.com","card_number":"540000******0005","last_four":"0005","active":true,"iin":{"object":"iin","bin":"540000","card_brand":"MasterCard","card_type":"credito","card_category":"Oro","issuer":{"name":"SAMBA
        FINANCIAL GROUP","country":"SAUDI ARABIA","country_code":"SA","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"190.237.22.191","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0RlSHbooAMFdFQ=
      x-amzn-Remapped-Content-Length:
      - '616'
      x-amzn-RequestId:
      - eb38a316-594f-4c07-9158-b1c605fc80b5
    status:
      code: 201
      message: Created
- request:
    body: '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
      "PE", "email": "richard7bd8@piedpiper.com", "first_name": "Richard", "last_name":
      "Piedpiper", "phone_number": "+51998989789"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/customers
  response:
    body:
      string: '{"object":"customer","id":"cus_test_eNv4F8XbhkOfiJUc","creation_date":1589954905926,"email":"richard7bd8@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
        Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0RmBFahoAMFcwA=
      x-amzn-RequestId:
      - a08f623f-ae41-441f-b929-46512a857996
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '7213399'
      x-culqi-version:
      - 2.0.0
    status:
      code: 201
      message: Created
- request:
    body: '{"token_id": "tkn_test_mrfWExFFCmhbSWih", "customer_id": "cus_test_eNv4F8XbhkOfiJUc"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/cards
  response:
    body:
      string: "{\"object\":\"error\",\"type\":\"card_error\",\"charge_id\":\"chr_test_aCpaOncwRLxVWPfq\"\
        ,\"code\":\"card_declined\",\"decline_code\":\"contact_issuer\",\"merchant_message\"\
        :\"Contactar emisor. La operaci\xF3n fue denegada por el banco emisor de la\
        \ tarjeta y el cliente necesita contactarse con la entidad para conocer el\
        \ motivo.\",\"user_message\":\"La operaci\xF3n ha sido denegada por la entidad\
        \ emisora de tu tarjeta. Cont\xE1ctate con el banco para conocer el motivo\
        \ de la denegaci\xF3n o intenta nuevamente con otra tarjeta.\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0RmHGfaIAMFVDg=
      x-amzn-RequestId:
      - 4fc8d902-a1d2-4b86-94e1-f5de430219d9
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '7213400'
      x-culqi-version:
      - 2.0.0
    status:
      code: 400
      message: Bad Request
version: 1
