interactions:
- request:
    body: '{"card_number": "5111111111111118", "expiration_month": "06", "expiration_year":
      "2025", "cvv": "039", "email": "richard16c6@piedpiper.com"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body:
      string: "{\"object\":\"token\",\"id\":\"tkn_test_p2ABIqOGQbSvOJVq\",\"type\"\
        :\"card\",\"creation_date\":1589954841000,\"email\":\"richard16c6@piedpiper.com\"\
        ,\"card_number\":\"511111******1118\",\"last_four\":\"1118\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"511111\",\"card_brand\":\"MasterCard\"\
        ,\"card_type\":\"debito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"\
        name\":\"INTERBANK\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\"\
        :null,\"phone_number\":null},\"installments_allowed\":[24,2,3,4,5,6,7,8,9,12,48]},\"\
        client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\"\
        :\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\"\
        :\"Escritorio\"},\"metadata\":{}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0RcBFe6oAMFlZA=
      x-amzn-Remapped-Content-Length:
      - '624'
      x-amzn-RequestId:
      - 4321521d-6eeb-4b29-9816-93de8b4e59a4
    status:
      code: 201
      message: Created
- request:
    body: '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
      "PE", "email": "richard16c6@piedpiper.com", "first_name": "Richard", "last_name":
      "Piedpiper", "phone_number": "+51998989789"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/customers
  response:
    body:
      string: '{"object":"customer","id":"cus_test_S1fd41SW6Y3TxAjp","creation_date":1589954843133,"email":"richard16c6@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
        Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0RcNFhRoAMFnxw=
      x-amzn-RequestId:
      - 83519435-ff92-4e13-a028-6ea261039cb0
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '7213384'
      x-culqi-version:
      - 2.0.0
    status:
      code: 201
      message: Created
- request:
    body: '{"token_id": "tkn_test_p2ABIqOGQbSvOJVq", "customer_id": "cus_test_S1fd41SW6Y3TxAjp"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/cards
  response:
    body:
      string: "{\"object\":\"card\",\"id\":\"crd_test_WQeg0jNOlkzhl6lY\",\"active\"\
        :true,\"creation_date\":1589954849740,\"customer_id\":\"cus_test_S1fd41SW6Y3TxAjp\"\
        ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_p2ABIqOGQbSvOJVq\",\"\
        type\":\"card\",\"creation_date\":1589954841000,\"email\":\"richard16c6@piedpiper.com\"\
        ,\"card_number\":\"511111******1118\",\"last_four\":\"1118\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"511111\",\"card_brand\":\"MasterCard\"\
        ,\"card_type\":\"debito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"\
        name\":\"INTERBANK\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\"\
        :null,\"phone_number\":null},\"installments_allowed\":[24,2,3,4,5,6,7,8,9,12,48]},\"\
        client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\"\
        :\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\"\
        :\"Escritorio\"},\"metadata\":{}},\"metadata\":{\"ZDA\":true}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0RcWGIrIAMFUDg=
      x-amzn-RequestId:
      - 71c5b64c-b131-48e9-bcde-5addf7265142
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '7213385'
      x-culqi-version:
      - 2.0.0
    status:
      code: 201
      message: Created
version: 1
