interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: GET
    uri: https://api.culqi.com/v2/charges
  response:
    body: {string: "{\"data\":[{\"duplicated\":false,\"object\":\"charge\",\"id\"\
        :\"chr_test_MUg8Ed8IpJz9TH7r\",\"creation_date\":1578103064000,\"amount\"\
        :1000,\"amount_refunded\":0,\"current_amount\":1000,\"installments\":1,\"\
        installments_amount\":1000,\"currency_code\":\"PEN\",\"email\":\"richard@piedpiper.com\"\
        ,\"description\":\"Venta de prueba\",\"source\":{\"object\":\"token\",\"id\"\
        :\"tkn_test_SsWgviViEyMa4Aig\",\"type\":\"card\",\"creation_date\":1578103062000,\"\
        email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"\
        last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"\
        411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\"\
        :null,\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\"\
        :null,\"website\":null,\"phone_number\":null},\"installments_allowed\":null},\"\
        client\":{\"ip\":\"2800:200:e208:17e:6229:ea16:607c:4d74\",\"ip_country\"\
        :null,\"ip_country_code\":null,\"browser\":null,\"device_fingerprint\":null,\"\
        device_type\":null},\"metadata\":{}},\"outcome\":{\"type\":\"venta_exitosa\"\
        ,\"code\":\"AUT0000\",\"merchant_message\":\"La operaci\xF3n de venta ha sido\
        \ autorizada exitosamente\",\"user_message\":\"Su compra ha sido exitosa.\"\
        },\"fraud_score\":4.0,\"dispute\":false,\"capture\":false,\"reference_code\"\
        :\"ItIvANGT6i\",\"authorization_code\":\"LfZmfI\",\"metadata\":{},\"total_fee\"\
        :47,\"fee_details\":{\"fixed_fee\":{},\"variable_fee\":{\"currency_code\"\
        :\"PEN\",\"commision\":0.0399,\"total\":40}},\"total_fee_taxes\":7,\"transfer_amount\"\
        :953,\"paid\":false,\"statement_descriptor\":\"CULQI*\",\"transfer_id\":null,\"\
        operations\":[],\"capture_date\":null},{\"duplicated\":false,\"object\":\"\
        charge\",\"id\":\"chr_test_i9th2W2ZNMJamX7s\",\"creation_date\":1578103057000,\"\
        amount\":1000,\"amount_refunded\":0,\"current_amount\":1000,\"installments\"\
        :1,\"installments_amount\":1000,\"currency_code\":\"PEN\",\"email\":\"richard@piedpiper.com\"\
        ,\"description\":\"Venta de prueba\",\"source\":{\"object\":\"token\",\"id\"\
        :\"tkn_test_rtXiicDZGK3pz71C\",\"type\":\"card\",\"creation_date\":1578103055000,\"\
        email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"\
        last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"\
        411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\"\[...]
