interactions:
- request:
    body: '{"card_number": "36000100000007", "expiration_month": "12", "expiration_year":
      "2025", "cvv": "820", "email": "richard@piedpiper.com"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body:
      string: '{"object":"token","id":"tkn_test_fqqEYmeKlMUvAafG","type":"card","creation_date":1589954252000,"email":"richard@piedpiper.com","card_number":"360001****0007","last_four":"0007","active":true,"iin":{"object":"iin","bin":"360001","card_brand":"Diners","card_type":"credito","card_category":null,"issuer":{"name":"","country":"NICARAGUA","country_code":"NI","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"190.237.22.191","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0P_5FHYIAMFssA=
      x-amzn-Remapped-Content-Length:
      - '581'
      x-amzn-RequestId:
      - 6ffc39e0-400b-4df8-95cc-20ce4dcb9790
    status:
      code: 201
      message: Created
- request:
    body: '{"amount": 1000, "capture": false, "currency_code": "PEN", "description":
      "Venta de prueba", "email": "richard@piedpiper.com", "installments": 0, "source_id":
      "tkn_test_fqqEYmeKlMUvAafG"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/charges
  response:
    body:
      string: "{\"object\":\"error\",\"type\":\"card_error\",\"charge_id\":\"chr_test_FKF86TfaxdyqSrgu\"\
        ,\"code\":\"card_declined\",\"decline_code\":\"processing_error\",\"merchant_message\"\
        :\"Error de procesamiento. Ocurri\xF3 un error mientras procesabamos la compra.\
        \ Cont\xE1ctate con culqi.com/soporte para que te demos una soluci\xF3n.\"\
        ,\"user_message\":\"Ocurri\xF3 un error mientras procesabamos tu compra. Cont\xE1\
        ctate con culqi.com/soporte para que te demos una soluci\xF3n.\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0QAIGESoAMFqWQ=
      x-amzn-RequestId:
      - 1afdfde7-1e7c-438a-8466-7f53aa3e551e
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '7213308'
      x-culqi-version:
      - 2.0.0
    status:
      code: 402
      message: Payment Required
version: 1
