interactions:
- request:
    body: !!python/unicode '{"email": "richard@piedpiper.com", "cvv": "123", "expiration_year":
      "2020", "card_number": "4111111111111111", "expiration_month": "09"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body: {string: "{\"object\":\"token\",\"id\":\"tkn_test_rl9v3luxmYpUKoxN\",\"\
        type\":\"card\",\"creation_date\":1578103071000,\"email\":\"richard@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"2800:200:e208:17e:6229:ea16:607c:4d74\",\"ip_country\":\"Peru\"\
        ,\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\"\
        :null,\"device_type\":\"Escritorio\"},\"metadata\":{}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKc8Ff2oAMFt7Q=]
      x-amzn-remapped-content-length: ['636']
      x-amzn-requestid: [98f635e3-8cd1-461c-994f-5a84c1faff61]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"currency_code": "PEN", "capture": false, "source_id":
      "tkn_test_rl9v3luxmYpUKoxN", "amount": 1000, "email": "richard@piedpiper.com",
      "description": "Venta de prueba", "installments": 0}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/charges
  response:
    body: {string: "{\"duplicated\":false,\"object\":\"charge\",\"id\":\"chr_test_ZFknJYRCh4gAWeIF\"\
        ,\"creation_date\":1578103073000,\"amount\":1000,\"amount_refunded\":0,\"\
        current_amount\":1000,\"installments\":1,\"installments_amount\":1000,\"currency_code\"\
        :\"PEN\",\"email\":\"richard@piedpiper.com\",\"description\":\"Venta de prueba\"\
        ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_rl9v3luxmYpUKoxN\",\"\
        type\":\"card\",\"creation_date\":1578103071000,\"email\":\"richard@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"2800:200:e208:17e:6229:ea16:607c:4d74\",\"ip_country\":\"Peru\"\
        ,\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\"\
        :null,\"device_type\":\"Escritorio\"},\"metadata\":{}},\"outcome\":{\"type\"\
        :\"venta_exitosa\",\"code\":\"AUT0000\",\"merchant_message\":\"La operaci\xF3\
        n de venta ha sido autorizada exitosamente\",\"user_message\":\"Su compra\
        \ ha sido exitosa.\"},\"fraud_score\":4.0,\"dispute\":false,\"capture\":false,\"\
        reference_code\":\"FtSknmFzeV\",\"authorization_code\":\"NcyxPB\",\"metadata\"\
        :{},\"total_fee\":47,\"fee_details\":{\"fixed_fee\":{},\"variable_fee\":{\"\
        currency_code\":\"PEN\",\"commision\":0.0399,\"total\":40}},\"total_fee_taxes\"\
        :7,\"transfer_amount\":953,\"paid\":false,\"statement_descriptor\":\"CULQI*\"\
        ,\"transfer_id\":null,\"capture_date\":null}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKdKGuMIAMFR0g=]
      x-amzn-requestid: [14867b29-87e0-4e4c-af4a-c318e0f6d178]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183890']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: GET
    uri: https://api.culqi.com/v2/charges/chr_test_ZFknJYRCh4gAWeIF
  response:
    body: {string: "{\"duplicated\":false,\"object\":\"charge\",\"id\":\"chr_test_ZFknJYRCh4gAWeIF\"\
        ,\"creation_date\":1578103073000,\"amount\":1000,\"amount_refunded\":0,\"\
        current_amount\":1000,\"installments\":1,\"installments_amount\":1000,\"currency_code\"\
        :\"PEN\",\"email\":\"richard@piedpiper.com\",\"description\":\"Venta de prueba\"\
        ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_rl9v3luxmYpUKoxN\",\"\
        type\":\"card\",\"creation_date\":1578103071000,\"email\":\"richard@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":null,\"issuer\":{\"name\":\"BBVA\",\"country\"\
        :\"PERU\",\"country_code\":null,\"website\":null,\"phone_number\":null},\"\
        installments_allowed\":null},\"client\":{\"ip\":\"2800:200:e208:17e:6229:ea16:607c:4d74\"\
        ,\"ip_country\":null,\"ip_country_code\":null,\"browser\":null,\"device_fingerprint\"\
        :null,\"device_type\":null},\"metadata\":{}},\"outcome\":{\"type\":\"venta_exitosa\"\
        ,\"code\":\"AUT0000\",\"merchant_message\":\"La operaci\xF3n de venta ha sido\
        \ autorizada exitosamente\",\"user_message\":\"Su compra ha sido exitosa.\"\
        },\"fraud_score\":4.0,\"dispute\":false,\"capture\":false,\"reference_code\"\
        :\"FtSknmFzeV\",\"authorization_code\":\"NcyxPB\",\"metadata\":{},\"total_fee\"\
        :47,\"fee_details\":{\"fixed_fee\":{},\"variable_fee\":{\"currency_code\"\
        :\"PEN\",\"commision\":0.0399,\"total\":40}},\"total_fee_taxes\":7,\"transfer_amount\"\
        :953,\"paid\":false,\"statement_descriptor\":\"CULQI*\",\"transfer_id\":null,\"\
        operations\":[],\"capture_date\":null}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKdjEX1IAMFfoA=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:57:56 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [1ec13031-4669-4584-b5f2-ccb66124010b]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183891']
      x-culqi-version: [2.0.0]
    status: {code: 200, message: OK}
version: 1
