interactions:
- request:
    body: '{"card_number": "36000200000006", "expiration_month": "01", "expiration_year":
      "2025", "cvv": "230", "email": "richard@piedpiper.com"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body:
      string: '{"timestamp":"2020-05-20T06:01:08.432+0000","status":500,"error":"Internal
        Server Error","message":"query did not return a unique result: 2; nested exception
        is javax.persistence.NonUniqueResultException: query did not return a unique
        result: 2","path":"/v2/tokens"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0QhrEb8IAMF2kg=
      x-amzn-RequestId:
      - 97fb00df-d538-4f6a-9629-06d1c4c44245
    status:
      code: 500
      message: Internal Server Error
version: 1
