interactions:
  - request:
      body:
        '{"cvv": "123", "card_number": "4111111111111111", "expiration_year": "2025",
        "expiration_month": "09", "email": "richard@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string:
          "{\"object\":\"token\",\"id\":\"tkn_test_ES888xh1WWHzLqkw\",\"type\"\
          :\"card\",\"creation_date\":1589341070000,\"email\":\"richard@piedpiper.com\"\
          ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
          iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
          :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
          ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
          :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
          :{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"\
          PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"\
          Escritorio\"},\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc2-RE88oAMF21Q=
        x-amzn-Remapped-Content-Length:
          - '613'
        x-amzn-RequestId:
          - 159431eb-e9b0-4cc6-a2ad-bcd2688e343c
      status:
        code: 201
        message: Created
  - request:
      body:
        '{"amount": 1000, "capture": false, "currency_code": "PEN", "description":
        "Venta de prueba", "email": "richard@piedpiper.com", "installments": 0, "source_id":
        "tkn_test_ES888xh1WWHzLqkw"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/charges
    response:
      body:
        string:
          "{\"duplicated\":false,\"object\":\"charge\",\"id\":\"chr_test_PUZOYJjzCUsNbsOd\"\
          ,\"creation_date\":1589341072000,\"amount\":1000,\"amount_refunded\":0,\"\
          current_amount\":1000,\"installments\":1,\"installments_amount\":1000,\"currency_code\"\
          :\"PEN\",\"email\":\"richard@piedpiper.com\",\"description\":\"Venta de prueba\"\
          ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_ES888xh1WWHzLqkw\",\"\
          type\":\"card\",\"creation_date\":1589341070000,\"email\":\"richard@piedpiper.com\"\
          ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
          iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
          :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
          ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
          :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
          :{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"\
          PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"\
          Escritorio\"},\"metadata\":{}},\"outcome\":{\"type\":\"venta_exitosa\",\"\
          code\":\"AUT0000\",\"merchant_message\":\"La operaci\xF3n de venta ha sido\
          \ autorizada exitosamente\",\"user_message\":\"Su compra ha sido exitosa.\"\
          },\"fraud_score\":6.0,\"dispute\":false,\"capture\":false,\"reference_code\"\
          :\"yXMypamCck\",\"authorization_code\":\"nnUlHJ\",\"metadata\":{},\"total_fee\"\
          :47,\"fee_details\":{\"fixed_fee\":{},\"variable_fee\":{\"currency_code\"\
          :\"PEN\",\"commision\":0.0399,\"total\":40}},\"total_fee_taxes\":7,\"transfer_amount\"\
          :953,\"paid\":false,\"statement_descriptor\":\"CULQI*\",\"transfer_id\":null,\"\
          capture_date\":null}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc2-cEEGIAMFfqA=
        x-amzn-RequestId:
          - 6b9c68c1-ae29-4d37-8403-b4ca4ef2304d
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - '6892515'
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/charges/chr_test_PUZOYJjzCUsNbsOd
    response:
      body:
        string:
          "{\"duplicated\":false,\"object\":\"charge\",\"id\":\"chr_test_PUZOYJjzCUsNbsOd\"\
          ,\"creation_date\":1589341072000,\"amount\":1000,\"amount_refunded\":0,\"\
          current_amount\":1000,\"installments\":1,\"installments_amount\":1000,\"currency_code\"\
          :\"PEN\",\"email\":\"richard@piedpiper.com\",\"description\":\"Venta de prueba\"\
          ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_ES888xh1WWHzLqkw\",\"\
          type\":\"card\",\"creation_date\":1589341070000,\"email\":\"richard@piedpiper.com\"\
          ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
          iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
          :\"credito\",\"card_category\":null,\"issuer\":{\"name\":\"BBVA\",\"country\"\
          :\"PERU\",\"country_code\":null,\"website\":null,\"phone_number\":null},\"\
          installments_allowed\":null},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\"\
          :null,\"ip_country_code\":null,\"browser\":null,\"device_fingerprint\":null,\"\
          device_type\":null},\"metadata\":{}},\"outcome\":{\"type\":\"venta_exitosa\"\
          ,\"code\":\"AUT0000\",\"merchant_message\":\"La operaci\xF3n de venta ha sido\
          \ autorizada exitosamente\",\"user_message\":\"Su compra ha sido exitosa.\"\
          },\"fraud_score\":6.0,\"dispute\":false,\"capture\":false,\"reference_code\"\
          :\"yXMypamCck\",\"authorization_code\":\"nnUlHJ\",\"metadata\":{},\"total_fee\"\
          :47,\"fee_details\":{\"fixed_fee\":{},\"variable_fee\":{\"currency_code\"\
          :\"PEN\",\"commision\":0.0399,\"total\":40}},\"total_fee_taxes\":7,\"transfer_amount\"\
          :953,\"paid\":false,\"statement_descriptor\":\"CULQI*\",\"transfer_id\":null,\"\
          operations\":[],\"capture_date\":null}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - '6892516'
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - Mc2-1HB0IAMFvjA=
        x-amzn-Remapped-Date:
          - Wed, 13 May 2020 03:37:54 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 64aea769-a41d-4282-afdd-fdafc8084a52
      status:
        code: 200
        message: OK
version: 1
