interactions:
- request:
    body: '{"card_number": "370001000000000", "expiration_month": "04", "expiration_year":
      "2025", "cvv": "2511", "email": "richard@piedpiper.com"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body:
      string: '{"object":"token","id":"tkn_test_sChCXpCBRap5LZY7","type":"card","creation_date":1589954298000,"email":"richard@piedpiper.com","card_number":"370001*****0000","last_four":"0000","active":true,"iin":{"object":"iin","bin":"370001","card_brand":"Amex","card_type":"credito","card_category":null,"issuer":{"name":"AMERICAN
        EXPRESS COMPANY","country":"INDIA","country_code":"IN","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"190.237.22.191","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0QHIHTooAMFr1g=
      x-amzn-Remapped-Content-Length:
      - '600'
      x-amzn-RequestId:
      - 4a74228a-0d97-4532-bbde-b604f57c2d4e
    status:
      code: 201
      message: Created
- request:
    body: '{"amount": 1000, "capture": false, "currency_code": "PEN", "description":
      "Venta de prueba", "email": "richard@piedpiper.com", "installments": 0, "source_id":
      "tkn_test_sChCXpCBRap5LZY7"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/charges
  response:
    body:
      string: "{\"object\":\"error\",\"type\":\"card_error\",\"charge_id\":\"chr_test_QbUEw62Eju6hqKWw\"\
        ,\"code\":\"card_declined\",\"decline_code\":\"issuer_not_available\",\"merchant_message\"\
        :\"Emisor no disponible. El banco que emiti\xF3 la tarjeta no responde. El\
        \ cliente debe realizar el pago nuevamente.\",\"user_message\":\"El banco\
        \ emisor de tu tarjeta no responde y la operaci\xF3n no pudo ser completada.\
        \ Vuelve a realizar el pago en unos minutos o intenta nuevamente con otra\
        \ tarjeta.\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0QHWFJRoAMFx7Q=
      x-amzn-RequestId:
      - bb0080b1-d34b-45cb-8c9e-9fd3341e5e57
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '7213316'
      x-culqi-version:
      - 2.0.0
    status:
      code: 402
      message: Payment Required
version: 1
