interactions:
- request:
    body: '{"card_number": "4000020000000000", "expiration_month": "10", "expiration_year":
      "2025", "cvv": "354", "email": "richard@piedpiper.com"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body:
      string: "{\"object\":\"token\",\"id\":\"tkn_test_ytPrzKnzUVvcwnY8\",\"type\"\
        :\"card\",\"creation_date\":1589954388000,\"email\":\"richard@piedpiper.com\"\
        ,\"card_number\":\"400002******0000\",\"last_four\":\"0000\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"400002\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"RIVER\
        \ VALLEY C.U.\",\"country\":\"UNITED STATES\",\"country_code\":\"US\",\"website\"\
        :null,\"phone_number\":null},\"installments_allowed\":[]},\"client\":{\"ip\"\
        :\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"\
        browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"\
        },\"metadata\":{}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0QVPG8QoAMFyNA=
      x-amzn-Remapped-Content-Length:
      - '608'
      x-amzn-RequestId:
      - 2120fa5f-556b-476f-9ec2-2e953b0cac13
    status:
      code: 201
      message: Created
- request:
    body: '{"amount": 1000, "capture": false, "currency_code": "PEN", "description":
      "Venta de prueba", "email": "richard@piedpiper.com", "installments": 0, "source_id":
      "tkn_test_ytPrzKnzUVvcwnY8"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/charges
  response:
    body:
      string: "{\"object\":\"error\",\"type\":\"card_error\",\"charge_id\":\"chr_test_3wH6IJLtZbKBdk0l\"\
        ,\"code\":\"card_declined\",\"decline_code\":\"stolen_card\",\"merchant_message\"\
        :\"Tarjeta robada. La tarjeta fue bloqueada y reportada al banco emisor como\
        \ una tarjeta robada.\",\"user_message\":\"Su tarjeta est\xE1 vencida. Verifica\
        \ la fecha de vencimiento de tu tarjeta e ingr\xE9salos correctamente. Si\
        \ es denegada nuevamente, cont\xE1ctate con el banco emisor de tu tarjeta.\"\
        }"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0QVdHmWIAMFVfg=
      x-amzn-RequestId:
      - 2657c79a-d907-4f31-afd2-4f5e57b3decd
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '7213329'
      x-culqi-version:
      - 2.0.0
    status:
      code: 402
      message: Payment Required
version: 1
