interactions:
- request:
    body: !!python/unicode '{"first_name": "Richard", "email": "richard0a66@piedpiper.com",
      "address": "Avenida Lima 123213", "phone_number": "+51998989789", "address_city":
      "LIMA", "country_code": "PE", "last_name": "Piedpiper"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/customers
  response:
    body: {string: !!python/unicode '{"object":"customer","id":"cus_test_j3gGyaErhkG6hKUG","creation_date":1578103088845,"email":"richard0a66@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
        Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKfnEyjIAMFsYQ=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:58:08 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [f139579e-58cc-4586-8a0c-65ec0eb88e48]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183899']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: GET
    uri: https://api.culqi.com/v2/customers/cus_test_j3gGyaErhkG6hKUG
  response:
    body: {string: !!python/unicode '{"object":"customer","id":"cus_test_j3gGyaErhkG6hKUG","creation_date":1578103088000,"email":"richard0a66@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
        Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"cards":[],"metadata":{}}'}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKfsG2nIAMFutw=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:58:09 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [1a74c92b-7e3b-44bd-90eb-a93d0f1fbf12]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183900']
      x-culqi-version: [2.0.0]
    status: {code: 200, message: OK}
version: 1
