interactions:
  - request:
      body:
        '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
        "PE", "email": "richard8822@piedpiper.com", "first_name": "Richard", "last_name":
        "Piedpiper", "phone_number": "+51998989789"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/customers
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_slxXgyER5LxP7Vj8","creation_date":1589341087209,"email":"richard8822@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3A3FgZoAMFSWg=
        x-amzn-RequestId:
          - 0b8a54b9-66a9-42e1-83fc-14d4fdb9e6f5
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "6892525"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/customers/cus_test_slxXgyER5LxP7Vj8
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_slxXgyER5LxP7Vj8","creation_date":1589341087000,"email":"richard8822@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"cards":[],"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "6892526"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - Mc3A-FGboAMFulw=
        x-amzn-Remapped-Date:
          - Wed, 13 May 2020 03:38:07 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - adf5ef1e-dad9-4dbc-aa7b-73b6612ddc5f
      status:
        code: 200
        message: OK
version: 1
