interactions:
  - request:
      body:
        '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
        "PE", "email": "richard1b0e@piedpiper.com", "first_name": "Richard", "last_name":
        "Piedpiper", "phone_number": "+51998989789"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/customers
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_16YD9q01NcG7Qr9K","creation_date":1589341083146,"email":"richard1b0e@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3AOF1aIAMF58w=
        x-amzn-RequestId:
          - 95e2f995-b487-484d-948f-efa72dcc91df
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - '6892521'
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
version: 1
