interactions:
  - request:
      body:
        '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
        "PE", "email": "richardbc10@piedpiper.com", "first_name": "Richard", "last_name":
        "Piedpiper", "phone_number": "+51998989789"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/customers
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_7dlvwTMmjsHvw6fy","creation_date":1589341088981,"email":"richardbc10@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3BHGtPoAMFfFQ=
        x-amzn-RequestId:
          - 8997ebf6-7719-45bb-bce6-3868bfb47989
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - '6892527'
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/customers/cus_test_7dlvwTMmjsHvw6fy
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_7dlvwTMmjsHvw6fy","creation_date":1589341088000,"email":"richardbc10@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{"order_id":"0001"}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - '6892528'
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - Mc3BREY0IAMF2kA=
        x-amzn-Remapped-Date:
          - Wed, 13 May 2020 03:38:09 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 3d6b984c-ee4a-4fa2-98eb-d6484664bbd5
      status:
        code: 200
        message: OK
version: 1
