interactions:
- request:
    body: '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
      "PE", "email": "richard0f42@piedpiper.com", "first_name": "Richard", "last_name":
      "Piedpiper", "phone_number": "+51998989789"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/customers
  response:
    body:
      string: '{"object":"customer","id":"cus_test_AHIurXnmXIz2ZSZ6","creation_date":1589341083862,"email":"richard0f42@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
        Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - Mc3AVGSvoAMFvTA=
      x-amzn-RequestId:
      - f8ac5230-dad4-4bb0-ab0a-203ad5b666c9
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '6892522'
      x-culqi-version:
      - 2.0.0
    status:
      code: 201
      message: Created
- request:
    body: 'null'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: DELETE
    uri: https://api.culqi.com/v2/customers/cus_test_AHIurXnmXIz2ZSZ6
  response:
    body:
      string: "{\"id\":\"cus_test_AHIurXnmXIz2ZSZ6\",\"deleted\":true,\"merchant_message\"\
        :\"Se elimin\xF3 el cliente con ID cus_test_AHIurXnmXIz2ZSZ6 exitosamente.\"\
        }"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '6892523'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - Mc3AeGMIoAMF_zQ=
      x-amzn-Remapped-Date:
      - Wed, 13 May 2020 03:38:04 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - 59b430fb-c12b-4dd7-abad-cee4501945f1
    status:
      code: 200
      message: OK
version: 1
