interactions:
- request:
    body: !!python/unicode '{"first_name": "Richard", "email": "richard8e77@piedpiper.com",
      "address": "Avenida Lima 123213", "phone_number": "+51998989789", "address_city":
      "LIMA", "country_code": "PE", "last_name": "Piedpiper"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/customers
  response:
    body: {string: !!python/unicode '{"object":"customer","id":"cus_test_GaLKH7k4L4h9lJjB","creation_date":1578103084771,"email":"richard8e77@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
        Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKe_HqBIAMFZ0A=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:58:04 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [e7110f5a-c650-4090-b1f3-7581f3e67bcc]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183895']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
version: 1
