interactions:
- request:
    body: !!python/unicode '{"first_name": "Richard", "email": "richard90bd@piedpiper.com",
      "address": "Avenida Lima 123213", "phone_number": "+51998989789", "address_city":
      "LIMA", "country_code": "PE", "last_name": "Piedpiper"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/customers
  response:
    body: {string: !!python/unicode '{"object":"customer","id":"cus_test_bgWudMbEBCwOv9xH","creation_date":1578103090103,"email":"richard90bd@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
        Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKf1EYVoAMFUvg=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:58:10 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [f596a32b-1daa-4a96-b98a-3990b3fd8861]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183901']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: PATCH
    uri: https://api.culqi.com/v2/customers/cus_test_bgWudMbEBCwOv9xH
  response:
    body: {string: !!python/unicode '{"object":"customer","id":"cus_test_bgWudMbEBCwOv9xH","creation_date":1578103090000,"email":"richard90bd@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
        Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{"order_id":"0001"}}'}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKf5FTmIAMFQhg=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:58:10 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [6f665cca-954a-402a-82f2-682ced294f3c]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183902']
      x-culqi-version: [2.0.0]
    status: {code: 200, message: OK}
version: 1
