interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: GET
    uri: https://api.culqi.com/v2/customers
  response:
    body: {string: "{\"data\":[{\"object\":\"customer\",\"id\":\"cus_test_GaLKH7k4L4h9lJjB\"\
        ,\"creation_date\":1578103084000,\"email\":\"richard8e77@piedpiper.com\",\"\
        antifraud_details\":{\"first_name\":\"Richard\",\"last_name\":\"Piedpiper\"\
        ,\"address\":\"Avenida Lima 123213\",\"address_city\":\"LIMA\",\"country_code\"\
        :\"PE\",\"phone\":\"+51998989789\",\"object\":\"client\"},\"cards\":[],\"\
        metadata\":{}},{\"object\":\"customer\",\"id\":\"cus_test_I2PorlMmrcG4U1aR\"\
        ,\"creation_date\":1578103049000,\"email\":\"richard40f0@piedpiper.com\",\"\
        antifraud_details\":{\"first_name\":\"Richard\",\"last_name\":\"Piedpiper\"\
        ,\"address\":\"Avenida Lima 123213\",\"address_city\":\"LIMA\",\"country_code\"\
        :\"PE\",\"phone\":\"+51998989789\",\"object\":\"client\"},\"cards\":[{\"object\"\
        :\"card\",\"id\":\"crd_test_jadM22HWEt3NVQY0\",\"active\":true,\"creation_date\"\
        :1578103054000,\"customer_id\":\"cus_test_I2PorlMmrcG4U1aR\",\"source\":{\"\
        object\":\"token\",\"id\":\"tkn_test_MEFINweGWzXv5Wlx\",\"type\":\"card\"\
        ,\"creation_date\":1578103048000,\"email\":\"richard40f0@piedpiper.com\",\"\
        card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"2800:200:e208:17e:6229:ea16:607c:4d74\",\"ip_country\":\"Peru\"\
        ,\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\"\
        :null,\"device_type\":\"Escritorio\"},\"metadata\":{}},\"metadata\":{\"order_id\"\
        :\"0001\"}}],\"metadata\":{}},{\"object\":\"customer\",\"id\":\"cus_test_hgxqCKizf3biDOTz\"\
        ,\"creation_date\":1578103042000,\"email\":\"richardfc89@piedpiper.com\",\"\
        antifraud_details\":{\"first_name\":\"Richard\",\"last_name\":\"Piedpiper\"\
        ,\"address\":\"Avenida Lima 123213\",\"address_city\":\"LIMA\",\"country_code\"\
        :\"PE\",\"phone\":\"+51998989789\",\"object\":\"client\"},\"cards\":[{\"object\"\
        :\"card\",[...]
