interactions:
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/events
    response:
      body:
        string: '{"data":[],"paging":{"previous":null,"next":null,"cursors":{"before":null,"after":null},"remaining_items":0}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - '6892529'
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - Mc3BXG3HoAMFjTw=
        x-amzn-Remapped-Date:
          - Wed, 13 May 2020 03:38:10 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - cc929af9-1dfc-4475-9915-08b1e8ab8c15
      status:
        code: 200
        message: OK
version: 1
