interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: GET
    uri: https://api.culqi.com/v2/events
  response:
    body: {string: !!python/unicode '{"data":[],"paging":{"previous":null,"next":null,"cursors":{"before":null,"after":null},"remaining_items":0}}'}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKgBECwoAMF4OA=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:58:11 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [43baf36d-3b6e-4c3f-b755-3b72bbfb6044]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183903']
      x-culqi-version: [2.0.0]
    status: {code: 200, message: OK}
version: 1
