interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: GET
    uri: https://api.culqi.com/v2/iins
  response:
    body: {string: "{\"data\":[{\"object\":\"iin\",\"bin\":\"465859\",\"card_brand\"\
        :\"Visa\",\"card_type\":\"debito\",\"card_category\":null,\"issuer\":{\"name\"\
        :\"BARCLAYS BANK PLC\",\"country\":\"UNITED KINGDOM\",\"country_code\":\"\
        GB\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[]},{\"\
        object\":\"iin\",\"bin\":\"361005\",\"card_brand\":\"Diners\",\"card_type\"\
        :\"credito\",\"card_category\":null,\"issuer\":{\"name\":\"\",\"country\"\
        :\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"\
        installments_allowed\":[]},{\"object\":\"iin\",\"bin\":\"494386\",\"card_brand\"\
        :\"Visa\",\"card_type\":\"credito\",\"card_category\":null,\"issuer\":{\"\
        name\":\"SCOTIABANK PERU S.A.A.\",\"country\":\"PERU\",\"country_code\":\"\
        PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[]},{\"\
        object\":\"iin\",\"bin\":\"491660\",\"card_b[...]
