interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: GET
    uri: https://api.culqi.com/v2/iins
  response:
    body:
      string: '{"data":[{"object":"iin","bin":"444686","card_brand":"Visa","card_type":"debito","card_category":null,"issuer":{"name":"INTERBANK
        - BANCO INTERNACIONAL DEL PERU","country":"PERU","country_code":"PE","website":null,"phone_number":null},"installments_allowed":[]},{"object":"iin","bin":"545028","card_brand":"MasterCard","card_type":"credito","card_category":null,"issuer":{"name":"BANCO
        DE LA NACION","country":"PERU","country_code":"PE","website":null,"phone_number":null},"installments_allowed":[]},{"object":"iin","bin":"545212","card_brand":"MasterCard","card_type":"credito","card_category":null,"issuer":{"name":"BARCLAYS
        BANK DELAWARE","country":"UNITED STATES","country_code":"US","website":null,"phone_number":null},"installments_allo[...]
