interactions:
- request:
    body: !!python/unicode '{"client_details": {"email": "richard@piedpiper.com",
      "last_name": "Piedpiper", "first_name": "Richard", "phone_number": "+51998989789"},
      "currency_code": "PEN", "expiration_date": 1893474000, "amount": 1000, "order_number":
      "order-522e", "confirm": false, "description": "Venta de prueba"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/orders
  response:
    body: {string: !!python/unicode '{"object":"order","id":"ord_test_UHfD3fIkdjMfJjH2","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
        de prueba","order_number":"order-522e","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1578103124,"expiration_date":1893474000,"updated_at":null,"paid_at":null,"available_on":null,"metadata":{}}'}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKlJFBkoAMF3wg=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:58:44 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [763716f9-a93d-4918-9292-aa928bfc0a8c]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183909']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: GET
    uri: https://api.culqi.com/v2/orders/ord_test_UHfD3fIkdjMfJjH2
  response:
    body: {string: !!python/unicode '{"object":"order","id":"ord_test_UHfD3fIkdjMfJjH2","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
        de prueba","order_number":"order-522e","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1578103124,"expiration_date":1893474000,"updated_at":null,"paid_at":null,"available_on":null,"metadata":{}}'}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKlOH2_IAMFq8w=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:58:44 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [a453ec92-ac93-44a9-9cb5-16869afc48e2]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183910']
      x-culqi-version: [2.0.0]
    status: {code: 200, message: OK}
version: 1
