interactions:
  - request:
      body:
        '{"amount": 1000, "currency_code": "PEN", "description": "Venta de prueba",
        "order_number": "order-451e", "client_details": {"first_name": "Richard", "last_name":
        "Piedpiper", "email": "richard@piedpiper.com", "phone_number": "+51998989789"},
        "expiration_date": 1893474000, "confirm": false}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/orders
    response:
      body:
        string:
          '{"object":"order","id":"ord_test_OF3Qbze6qhuaKMVd","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
          de prueba","order_number":"order-451e","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1589341098,"expiration_date":1893474000,"updated_at":null,"paid_at":null,"available_on":null,"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - '6892539'
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - Mc3CoE2aoAMF0Sw=
        x-amzn-Remapped-Date:
          - Wed, 13 May 2020 03:38:18 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 0e26664b-d585-4301-bba3-db547a10d3f7
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/orders/ord_test_OF3Qbze6qhuaKMVd
    response:
      body:
        string:
          '{"object":"order","id":"ord_test_OF3Qbze6qhuaKMVd","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
          de prueba","order_number":"order-451e","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1589341098,"expiration_date":1893474000,"updated_at":null,"paid_at":null,"available_on":null,"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - '6892540'
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - Mc3CvGtwIAMFneQ=
        x-amzn-Remapped-Date:
          - Wed, 13 May 2020 03:38:18 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - aa9e5db2-d05e-426d-8eb9-ad10b29e38d9
      status:
        code: 200
        message: OK
version: 1
