interactions:
  - request:
      body:
        '{"amount": 1000, "currency_code": "PEN", "description": "Venta de prueba",
        "order_number": "order-7d20", "client_details": {"first_name": "Richard", "last_name":
        "Piedpiper", "email": "richard@piedpiper.com", "phone_number": "+51998989789"},
        "expiration_date": 1893474000, "confirm": false}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/orders
    response:
      body:
        string:
          '{"object":"order","id":"ord_test_SUscNJsTOs2POVQU","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
          de prueba","order_number":"order-7d20","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1589341092,"expiration_date":1893474000,"updated_at":null,"paid_at":null,"available_on":null,"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - '6892531'
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - Mc3BoGUbIAMFfGw=
        x-amzn-Remapped-Date:
          - Wed, 13 May 2020 03:38:11 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 6e2f82ca-4a64-4948-8f47-a98b6addfdae
      status:
        code: 201
        message: Created
  - request:
      body: 'null'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/orders/ord_test_SUscNJsTOs2POVQU/confirm
    response:
      body:
        string:
          '{"object":"order","id":"ord_test_SUscNJsTOs2POVQU","amount":1000,"payment_code":"087654332","currency_code":"PEN","description":"Venta
          de prueba","order_number":"order-7d20","state":"pending","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1589341092,"expiration_date":1893474000,"updated_at":null,"paid_at":null,"available_on":null,"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - '6892532'
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - Mc3BvHqKoAMFvIQ=
        x-amzn-Remapped-Date:
          - Wed, 13 May 2020 03:38:12 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - e9443c71-70a3-4292-bb5d-c0731a05cd66
      status:
        code: 201
        message: Created
version: 1
