interactions:
- request:
    body: !!python/unicode '{"client_details": {"email": "richard@piedpiper.com",
      "last_name": "Piedpiper", "first_name": "Richard", "phone_number": "+51998989789"},
      "currency_code": "PEN", "expiration_date": 1893474000, "amount": 1000, "order_number":
      "order-e632", "confirm": false, "description": "Venta de prueba"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/orders
  response:
    body: {string: !!python/unicode '{"object":"order","id":"ord_test_ODJ4EitO2UcjEsdJ","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
        de prueba","order_number":"order-e632","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1578103125,"expiration_date":1893474000,"updated_at":null,"paid_at":null,"available_on":null,"metadata":{}}'}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKlWFSdIAMFswQ=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:58:45 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [78f461d6-02fd-4962-951c-1c81569b577b]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183911']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: PATCH
    uri: https://api.culqi.com/v2/orders/ord_test_ODJ4EitO2UcjEsdJ
  response:
    body: {string: !!python/unicode '{"object":"order","id":"ord_test_ODJ4EitO2UcjEsdJ","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
        de prueba","order_number":"order-e632","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1578103125,"expiration_date":1893474000,"updated_at":null,"paid_at":null,"available_on":null,"metadata":{"order_id":"0001"}}'}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKlbGCQIAMF6ew=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:58:46 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [b54e2334-dd97-4271-bd7c-c236bbda4874]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183912']
      x-culqi-version: [2.0.0]
    status: {code: 200, message: OK}
version: 1
