interactions:
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/orders
    response:
      body:
        string:
          "{\"data\":[{\"object\":\"order\",\"id\":\"ord_test_HmJZjESwPWIEo4wz\"\
          ,\"amount\":1000,\"payment_code\":null,\"currency_code\":\"PEN\",\"description\"\
          :\"Venta de prueba\",\"order_number\":\"order-a28f\",\"state\":\"created\"\
          ,\"total_fee\":null,\"net_amount\":null,\"fee_details\":null,\"creation_date\"\
          :1589341093,\"expiration_date\":1893474000,\"updated_at\":null,\"paid_at\"\
          :null,\"available_on\":null,\"metadata\":{}},{\"object\":\"order\",\"id\"\
          :\"ord_test_SUscNJsTOs2POVQU\",\"amount\":1000,\"payment_code\":\"087654332\"\
          ,\"currency_code\":\"PEN\",\"description\":\"Venta de prueba\",\"order_number\"\
          :\"order-7d20\",\"state\":\"pending\",\"total_fee\":null,\"net_amount\":null,\"\
          fee_details\":null,\"creation_date\":1589341092,\"expiration_date\":1893474000,\"\
          updated_at\":null,\"paid_at\":null,\"available_on\":null,\"metadata\":{}},{\"\
          object\":\"order\",\"id\":\"ord_test_btd2UdkeWdaj3Aha\",\"amount\":1000,\"\
          payment_code\":null,\"currency_code\":\"PEN\",\"description\":\"Venta de prueba\"\
          ,\"order_number\":\"order-1320\",\"state\":\"created\",\"total_fee\":null,\"\
          net_amount\":null,\"fee_details\":null,\"creation_date\":1589340580,\"expiration_date\"\
          :1893474000,\"updated_at\":null,\"paid_at\":null,\"available_on\":null,\"\
          metadata\":{\"order_id\":\"0001\"}},{\"object\":\"order\",\"id\":\"ord_test_DpywGwy8V5H28cHl\"\
          ,\"amount\":1000,\"payment_code\":null,\"currency_code\":\"PEN\",\"description\"\
          :\"Venta de prueba\",\"order_number\":\"order-7c97\",\"state\":\"created\"\
          ,\"total_fee\":null,\"net_amount\":null,\"fee_details\":null,\"creation_date\"\
          :1589340579,\"expiration_date\":1893474000,\"updated_at\":null,\"paid_at\"\
          :null,\"available_on\":null,\"metadata\":{}},{\"object\":\"order\[...]
