interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: GET
    uri: https://api.culqi.com/v2/orders
  response:
    body: {string: !!python/unicode '{"data":[{"object":"order","id":"ord_test_7W1ADMgxIzevZUE5","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
        de prueba","order_number":"order-d9e0","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1578103095,"expiration_date":1893474000,"updated_at":null,"paid_at":null,"available_on":null,"metadata":{}},{"object":"order","id":"ord_test_JCxc6Hrsy4tlNG48","amount":1000,"payment_code":"052622035","currency_code":"PEN","description":"Venta
        de prueba","order_number":"order-9d37","state":"pending","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1578103093,"expiration_date":1893474000,"updated_at":null,"paid_at":null,"available_on":null,"metadata":{}},{"object":"order","id":"ord_test_l51gbJgQCYtmgHCY","amount":19537,"payment_code":null,"currency_code":"PEN","description":"Chaqueta
        de mezclilla con piel de cordero - Azul - pelo beige removible, L","order_number":"10542","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1578102847,"expiration_date":1578189247,"updated_at":null,"paid_at":null,"available_on":null,"metadata":{"order_key":"wc_order_Lq4BKvAf173IM","order_number":"10542","order_id":"10542"}},{"object":"order","id":"ord_test_k3jE0CwZcwERWvUN","amount":12337,"payment_code":"084325209","currency_code":"PEN","description":"Abrigo
        de Invierno elegante - Amarillo, M","order_number":"10535","state":"pending","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1578102451,"expiration_date":1578188850,"updated_at":null,"paid_at":null,"available_on":null,"metadata":{"order_key":"wc_order_b9Sq4LZC9nLrz","order_number":"10535","order_id":"10535"}},{"object":"o[...]
