interactions:
- request:
    body: !!python/unicode '{"client_details": {"email": "richard@piedpiper.com",
      "last_name": "Piedpiper", "first_name": "Richard", "phone_number": "+51998989789"},
      "currency_code": "PEN", "expiration_date": 1893474000, "amount": 1000, "order_number":
      "order-d9e0", "confirm": false, "description": "Venta de prueba"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/orders
  response:
    body: {string: !!python/unicode '{"object":"order","id":"ord_test_7W1ADMgxIzevZUE5","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
        de prueba","order_number":"order-d9e0","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1578103095,"expiration_date":1893474000,"updated_at":null,"paid_at":null,"available_on":null,"metadata":{}}'}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKgnHc5IAMFy0A=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:58:15 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [060e0712-2771-4e35-8b24-f48d38d31d6a]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183907']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
version: 1
