interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: GET
    uri: https://api.culqi.com/v2/plans
  response:
    body:
      string: "{\"data\":[{\"object\":\"plan\",\"id\":\"pln_test_tgA2xeGwyydI8sKS\"\
        ,\"creation_date\":1589341101000,\"name\":\"plan-4d87\",\"amount\":1000,\"\
        currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\"\
        :10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}},{\"object\"\
        :\"plan\",\"id\":\"pln_test_G8W62A3r8AwcVDjT\",\"creation_date\":1589340646000,\"\
        name\":\"plan-7377\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\"\
        :2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\"\
        :0,\"metadata\":{}},{\"object\":\"plan\",\"id\":\"pln_test_IwTTToJqoLfb2x0a\"\
        ,\"creation_date\":1589340640000,\"name\":\"plan-b247\",\"amount\":1000,\"\
        currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\"\
        :10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}},{\"object\"\
        :\"plan\",\"id\":\"pln_test_fd134FHOVuQKLtUW\",\"creation_date\":1589340635000,\"\
        name\":\"plan-3a3a\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\"\
        :2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\"\
        :0,\"metadata\":{}},{\"object\":\"plan\",\"id\":\"pln_test_n73WXuaGfQlGkve8\"\
        ,\"creation_date\":1589340629000,\"name\":\"plan-3a2f\",\"amount\":1000,\"\
        currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\"\
        :10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}},{\"object\"\
        :\"plan\",\"id\":\"pln_test_WTUP7M1pYZo9INpB\",\"creation_date\":1589340598000,\"\
        name\":\"plan-2318\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\"\
        :2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\"\
        :0,\"metadata\":{\"order_id\":\"0001\"}},{\"object\":\"plan\",\"id\":\"pln_test_dSqEGNhXlUCPYzQH\"\
        ,\"creation_date\":1589340590000,\"name\":\"plan-9d35\",\"amount\":1000,\"\
        currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\"\
        :10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}},{\"object\"\
        :\"plan\",\"id\":\"pln_test_L2YWnvztMZ1V4SSz\",\"creation_date\":1589340581000,\"\
        name\":\"plan-9300\",\"amount\":1000,\"currency_code\":\"PEN\",\"interva[...]
