interactions:
- request:
    body: '{"amount": 1000, "currency_code": "PEN", "interval": "dias", "interval_count":
      2, "limit": 10, "name": "plan-4d87", "trial_days": 30}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/plans
  response:
    body:
      string: "{\"object\":\"plan\",\"id\":\"pln_test_tgA2xeGwyydI8sKS\",\"creation_date\"\
        :1589341101000,\"name\":\"plan-4d87\",\"amount\":1000,\"currency_code\":\"\
        PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\"\
        :30,\"total_subscriptions\":0,\"metadata\":{}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - Mc3DDH58IAMFXow=
      x-amzn-RequestId:
      - 908cae72-e593-43e3-aa30-eade97333bdd
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '6892543'
      x-culqi-version:
      - 2.0.0
    status:
      code: 201
      message: Created
version: 1
