interactions:
- request:
    body: !!python/unicode '{"interval": "dias", "name": "plan-9b5a", "currency_code":
      "PEN", "interval_count": 2, "amount": 1000, "trial_days": 30, "limit": 10}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/plans
  response:
    body: {string: "{\"object\":\"plan\",\"id\":\"pln_test_j7NqlajA3QDSGAfV\",\"creation_date\"\
        :1578103132000,\"name\":\"plan-9b5a\",\"amount\":1000,\"currency_code\":\"\
        PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\"\
        :30,\"total_subscriptions\":0,\"metadata\":{}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKmZFkBIAMFVLg=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:58:52 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [c1d13155-1f6a-4852-960e-df92806e6301]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183919']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: PATCH
    uri: https://api.culqi.com/v2/plans/pln_test_j7NqlajA3QDSGAfV
  response:
    body: {string: "{\"object\":\"plan\",\"id\":\"pln_test_j7NqlajA3QDSGAfV\",\"creation_date\"\
        :1578103132000,\"name\":\"plan-9b5a\",\"amount\":1000,\"currency_code\":\"\
        PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\"\
        :30,\"total_subscriptions\":0,\"metadata\":{\"order_id\":\"0001\"}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKmdFt2oAMFvfQ=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:58:52 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [5c2aa5f1-9204-4a78-bc58-e9775cbd92c8]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183920']
      x-culqi-version: [2.0.0]
    status: {code: 200, message: OK}
version: 1
