interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: GET
    uri: https://api.culqi.com/v2/plans
  response:
    body: {string: "{\"data\":[{\"object\":\"plan\",\"id\":\"pln_test_Zi4V0KE6v514oozG\"\
        ,\"creation_date\":1578103126000,\"name\":\"plan-d9d2\",\"amount\":1000,\"\
        currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\"\
        :10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}},{\"object\"\
        :\"plan\",\"id\":\"pln_test_Ap229NlXEh9fHwKT\",\"creation_date\":1577819911000,\"\
        name\":\"plan-6694\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\"\
        :2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\"\
        :1,\"metadata\":{}},{\"object\":\"plan\",\"id\":\"pln_test_iuS06dTicyn2WQTT\"\
        ,\"creation_date\":1577819901000,\"name\":\"plan-09bf\",\"amount\":1000,\"\
        currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\"\
        :10,\"trial_days\":30,\"total_subscriptions\":1,\"metadata\":{}},{\"object\"\
        :\"plan\",\"id\":\"pln_test_eMevG7DKOo7XKTB2\",\"creation_date\":1577819888000,\"\
        name\":\"plan-ff6d\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\"\
        :2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\"\
        :1,\"metadata\":{}},{\"object\":\"plan\",\"id\":\"pln_test_eUK3Jb71YgKjsPwv\"\
        ,\"creation_date\":1577819880000,\"name\":\"plan-dca2\",\"amount\":1000,\"\
        currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\"\
        :10,\"trial_days\":30,\"total_subscriptions\":1,\"metadata\":{}},{\"object\"\
        :\"plan\",\"id\":\"pln_test_0iJ0jtLacbjXAoIU\",\"creation_date\":1577819849000,\"\
        name\":\"plan-9395\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\"\
        :2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\"\
        :0,\"metadata\":{\"order_id\":\"0001\"}},{\"object\":\"plan\",\"id\":\"pln_test_ru7OOUa4AoidsVBQ\"\
        ,\"creation_date\":1577819847000,\"name\":\"plan-96a7\",\"amount\":1000,\"\
        currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\"\
        :10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}},{\"object\"\
        :\"plan\",\"id\":\"pln_test_64IrEaGrKqynGc5B\",\"creation_date\":1577819844000,\"\
        name\":\"plan-27d7\",\"amount\":1000,\"currency_code\":\"PEN\",\"interva[...]
