interactions:
  - request:
      body:
        '{"amount": 1000, "currency_code": "PEN", "interval": "dias", "interval_count":
        2, "limit": 10, "name": "plan-e2f8", "trial_days": 30}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/plans
    response:
      body:
        string:
          "{\"object\":\"plan\",\"id\":\"pln_test_WFsCaTqzJG7zfO3z\",\"creation_date\"\
          :1589341102000,\"name\":\"plan-e2f8\",\"amount\":1000,\"currency_code\":\"\
          PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\"\
          :30,\"total_subscriptions\":0,\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3DME9KIAMFb9Q=
        x-amzn-RequestId:
          - 9114aa51-04fb-49d7-897e-bee7ad72206b
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - '6892544'
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body: 'null'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: DELETE
      uri: https://api.culqi.com/v2/plans/pln_test_WFsCaTqzJG7zfO3z
    response:
      body:
        string:
          "{\"id\":\"pln_test_WFsCaTqzJG7zfO3z\",\"deleted\":true,\"merchant_message\"\
          :\"Se elimin\xF3 el plan con ID pln_test_WFsCaTqzJG7zfO3z exitosamente.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - '6892545'
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - Mc3DVFWmoAMFufQ=
        x-amzn-Remapped-Date:
          - Wed, 13 May 2020 03:38:22 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - eefb717c-8ccd-418b-8468-4082e2a52c23
      status:
        code: 200
        message: OK
version: 1
