interactions:
- request:
    body: !!python/unicode '{"interval": "dias", "name": "plan-751f", "currency_code":
      "PEN", "interval_count": 2, "amount": 1000, "trial_days": 30, "limit": 10}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/plans
  response:
    body: {string: "{\"object\":\"plan\",\"id\":\"pln_test_QDlgtnJ0b5K8jz28\",\"creation_date\"\
        :1578103130000,\"name\":\"plan-751f\",\"amount\":1000,\"currency_code\":\"\
        PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\"\
        :30,\"total_subscriptions\":0,\"metadata\":{}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKmKHqvIAMF03A=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:58:50 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [919cc2da-4d52-4518-af2b-c287155e3e43]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183917']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: GET
    uri: https://api.culqi.com/v2/plans/pln_test_QDlgtnJ0b5K8jz28
  response:
    body: {string: "{\"object\":\"plan\",\"id\":\"pln_test_QDlgtnJ0b5K8jz28\",\"creation_date\"\
        :1578103130000,\"name\":\"plan-751f\",\"amount\":1000,\"currency_code\":\"\
        PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\"\
        :30,\"total_subscriptions\":0,\"metadata\":{}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKmRGmEoAMFXcg=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:58:51 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [e79b6c0d-1049-4880-ab56-b785db903487]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183918']
      x-culqi-version: [2.0.0]
    status: {code: 200, message: OK}
version: 1
