interactions:
- request:
    body: !!python/unicode '{"interval": "dias", "name": "plan-7dbe", "currency_code":
      "PEN", "interval_count": 2, "amount": 1000, "trial_days": 30, "limit": 10}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/plans
  response:
    body: {string: "{\"object\":\"plan\",\"id\":\"pln_test_nuTNVbgcVntEk4Tm\",\"creation_date\"\
        :1578103127000,\"name\":\"plan-7dbe\",\"amount\":1000,\"currency_code\":\"\
        PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\"\
        :30,\"total_subscriptions\":0,\"metadata\":{}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKluEJHIAMFrbA=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:58:47 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [d8840b7f-3345-46cd-a067-7f07fef68f85]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183914']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode 'null'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: DELETE
    uri: https://api.culqi.com/v2/plans/pln_test_nuTNVbgcVntEk4Tm
  response:
    body: {string: "{\"id\":\"pln_test_nuTNVbgcVntEk4Tm\",\"deleted\":true,\"merchant_message\"\
        :\"Se elimin\xF3 el plan con ID pln_test_nuTNVbgcVntEk4Tm exitosamente.\"}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKlzHGeoAMFW8w=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:58:48 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [ea75a770-d8f6-4d5d-93e7-c31ff415dbf4]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183915']
      x-culqi-version: [2.0.0]
    status: {code: 200, message: OK}
version: 1
