interactions:
  - request:
      body:
        '{"amount": 1000, "currency_code": "PEN", "interval": "dias", "interval_count":
        2, "limit": 10, "name": "plan-2eba", "trial_days": 30}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/plans
    response:
      body:
        string:
          "{\"object\":\"plan\",\"id\":\"pln_test_RMr3N2Zaz5nhBShD\",\"creation_date\"\
          :1589341104000,\"name\":\"plan-2eba\",\"amount\":1000,\"currency_code\":\"\
          PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\"\
          :30,\"total_subscriptions\":0,\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3DmFmYIAMFwQw=
        x-amzn-RequestId:
          - c53fa4f1-f16c-42cf-9a05-78e6125c9da6
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - '6892547'
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/plans/pln_test_RMr3N2Zaz5nhBShD
    response:
      body:
        string:
          "{\"object\":\"plan\",\"id\":\"pln_test_RMr3N2Zaz5nhBShD\",\"creation_date\"\
          :1589341104000,\"name\":\"plan-2eba\",\"amount\":1000,\"currency_code\":\"\
          PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\"\
          :30,\"total_subscriptions\":0,\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - '6892549'
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - Mc3DrGI8oAMFbiA=
        x-amzn-Remapped-Date:
          - Wed, 13 May 2020 03:38:25 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - b309a59f-9678-4846-9714-4dc73b4ca69b
      status:
        code: 200
        message: OK
version: 1
