interactions:
- request:
    body: !!python/unicode '{"interval": "dias", "name": "plan-d9d2", "currency_code":
      "PEN", "interval_count": 2, "amount": 1000, "trial_days": 30, "limit": 10}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/plans
  response:
    body: {string: "{\"object\":\"plan\",\"id\":\"pln_test_Zi4V0KE6v514oozG\",\"creation_date\"\
        :1578103126000,\"name\":\"plan-d9d2\",\"amount\":1000,\"currency_code\":\"\
        PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\"\
        :30,\"total_subscriptions\":0,\"metadata\":{}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKlkGaXoAMF6sw=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:58:46 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [a77f5df7-4e86-4326-9464-486c8962aab3]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183913']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
version: 1
