interactions:
- request:
    body: '{"amount": 1000, "currency_code": "PEN", "interval": "dias", "interval_count":
      2, "limit": 10, "name": "plan-9aee", "trial_days": 30}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/plans
  response:
    body:
      string: "{\"object\":\"plan\",\"id\":\"pln_test_7qbr3lCevQiccFY9\",\"creation_date\"\
        :1589341106000,\"name\":\"plan-9aee\",\"amount\":1000,\"currency_code\":\"\
        PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\"\
        :30,\"total_subscriptions\":0,\"metadata\":{}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - Mc3DyH1NoAMFWYw=
      x-amzn-RequestId:
      - 75b7011a-786a-48b8-8d8a-83bd88df3230
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '6892550'
      x-culqi-version:
      - 2.0.0
    status:
      code: 201
      message: Created
- request:
    body: '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: PATCH
    uri: https://api.culqi.com/v2/plans/pln_test_7qbr3lCevQiccFY9
  response:
    body:
      string: "{\"object\":\"plan\",\"id\":\"pln_test_7qbr3lCevQiccFY9\",\"creation_date\"\
        :1589341106000,\"name\":\"plan-9aee\",\"amount\":1000,\"currency_code\":\"\
        PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\"\
        :30,\"total_subscriptions\":0,\"metadata\":{\"order_id\":\"0001\"}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '6892551'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - Mc3D6GNyIAMF1WA=
      x-amzn-Remapped-Date:
      - Wed, 13 May 2020 03:38:26 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - e9458d28-0735-4c0f-813c-7773cda07d76
    status:
      code: 200
      message: OK
version: 1
