interactions:
- request:
    body: !!python/unicode '{"email": "richard@piedpiper.com", "cvv": "123", "expiration_year":
      "2020", "card_number": "4111111111111111", "expiration_month": "09"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body: {string: "{\"object\":\"token\",\"id\":\"tkn_test_ZWx8h5qgNWRW5pUc\",\"\
        type\":\"card\",\"creation_date\":1578103133000,\"email\":\"richard@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"2800:200:e208:17e:6229:ea16:607c:4d74\",\"ip_country\":\"Peru\"\
        ,\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\"\
        :null,\"device_type\":\"Escritorio\"},\"metadata\":{}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKmmGhMoAMFRog=]
      x-amzn-remapped-content-length: ['636']
      x-amzn-requestid: [f69fa4bf-de87-4c75-9450-ed243cfd61af]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"currency_code": "PEN", "capture": false, "source_id":
      "tkn_test_ZWx8h5qgNWRW5pUc", "amount": 1000, "email": "richard@piedpiper.com",
      "description": "Venta de prueba", "installments": 0}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/charges
  response:
    body: {string: "{\"duplicated\":false,\"object\":\"charge\",\"id\":\"chr_test_UBriLzL8knUfJdc8\"\
        ,\"creation_date\":1578103135000,\"amount\":1000,\"amount_refunded\":0,\"\
        current_amount\":1000,\"installments\":1,\"installments_amount\":1000,\"currency_code\"\
        :\"PEN\",\"email\":\"richard@piedpiper.com\",\"description\":\"Venta de prueba\"\
        ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_ZWx8h5qgNWRW5pUc\",\"\
        type\":\"card\",\"creation_date\":1578103133000,\"email\":\"richard@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"2800:200:e208:17e:6229:ea16:607c:4d74\",\"ip_country\":\"Peru\"\
        ,\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\"\
        :null,\"device_type\":\"Escritorio\"},\"metadata\":{}},\"outcome\":{\"type\"\
        :\"venta_exitosa\",\"code\":\"AUT0000\",\"merchant_message\":\"La operaci\xF3\
        n de venta ha sido autorizada exitosamente\",\"user_message\":\"Su compra\
        \ ha sido exitosa.\"},\"fraud_score\":4.0,\"dispute\":false,\"capture\":false,\"\
        reference_code\":\"6vB96jnqcl\",\"authorization_code\":\"qx78uf\",\"metadata\"\
        :{},\"total_fee\":47,\"fee_details\":{\"fixed_fee\":{},\"variable_fee\":{\"\
        currency_code\":\"PEN\",\"commision\":0.0399,\"total\":40}},\"total_fee_taxes\"\
        :7,\"transfer_amount\":953,\"paid\":false,\"statement_descriptor\":\"CULQI*\"\
        ,\"transfer_id\":null,\"capture_date\":null}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKm1EKGIAMFg-g=]
      x-amzn-requestid: [eb14b26e-4e1d-40ea-95d3-9e87485cc230]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183922']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"charge_id": "chr_test_UBriLzL8knUfJdc8", "amount": 100,
      "reason": "solicitud_comprador"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/refunds
  response:
    body: {string: "{\"object\":\"refund\",\"id\":\"ref_test_5yVXM1QKXrUSzrn4\",\"\
        charge_id\":\"chr_test_UBriLzL8knUfJdc8\",\"creation_date\":1578103139000,\"\
        amount\":100,\"reason\":\"Devoluci\xF3n solicitada por el comercio\",\"metadata\"\
        :{}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKnQEA7oAMFYAw=]
      x-amzn-requestid: [f7e135b9-bdec-46ba-82c9-bf9124a62792]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183923']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
version: 1
