interactions:
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/refunds
    response:
      body:
        string:
          "{\"data\":[{\"object\":\"refund\",\"id\":\"ref_test_SL8TtdYLrRg0qYVN\"\
          ,\"charge_id\":\"chr_test_7rje5SJhNW0VC3OL\",\"creation_date\":1589341113000,\"\
          amount\":100,\"reason\":\"Devoluci\xF3n solicitada por el comercio\",\"metadata\"\
          :{}},{\"object\":\"refund\",\"id\":\"ref_test_5XDnb6uKy0PiodCn\",\"charge_id\"\
          :\"chr_test_auWWAFYVFkWlE7O9\",\"creation_date\":1589341045000,\"amount\"\
          :100,\"reason\":\"Devoluci\xF3n solicitada por el comercio\",\"metadata\"\
          :{}},{\"object\":\"refund\",\"id\":\"ref_test_t4ef5HPq10ghEjsu\",\"charge_id\"\
          :\"chr_test_NbUXEfa48QBhNQyS\",\"creation_date\":1589341037000,\"amount\"\
      [...]
