interactions:
- request:
    body: !!python/unicode '{"email": "richard@piedpiper.com", "cvv": "123", "expiration_year":
      "2020", "card_number": "4111111111111111", "expiration_month": "09"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body: {string: "{\"object\":\"token\",\"id\":\"tkn_test_zWXNzBmNuLf6h6tk\",\"\
        type\":\"card\",\"creation_date\":1578103150000,\"email\":\"richard@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"2800:200:e208:17e:6229:ea16:607c:4d74\",\"ip_country\":\"Peru\"\
        ,\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\"\
        :null,\"device_type\":\"Escritorio\"},\"metadata\":{}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKpRFOloAMFgWg=]
      x-amzn-remapped-content-length: ['636']
      x-amzn-requestid: [11177ad2-ae2e-479c-a530-1bf728d6b54f]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"currency_code": "PEN", "capture": false, "source_id":
      "tkn_test_zWXNzBmNuLf6h6tk", "amount": 1000, "email": "richard@piedpiper.com",
      "description": "Venta de prueba", "installments": 0}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/charges
  response:
    body: {string: "{\"duplicated\":false,\"object\":\"charge\",\"id\":\"chr_test_g4VTW09Cc5SQvmmB\"\
        ,\"creation_date\":1578103152000,\"amount\":1000,\"amount_refunded\":0,\"\
        current_amount\":1000,\"installments\":1,\"installments_amount\":1000,\"currency_code\"\
        :\"PEN\",\"email\":\"richard@piedpiper.com\",\"description\":\"Venta de prueba\"\
        ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_zWXNzBmNuLf6h6tk\",\"\
        type\":\"card\",\"creation_date\":1578103150000,\"email\":\"richard@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"2800:200:e208:17e:6229:ea16:607c:4d74\",\"ip_country\":\"Peru\"\
        ,\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\"\
        :null,\"device_type\":\"Escritorio\"},\"metadata\":{}},\"outcome\":{\"type\"\
        :\"venta_exitosa\",\"code\":\"AUT0000\",\"merchant_message\":\"La operaci\xF3\
        n de venta ha sido autorizada exitosamente\",\"user_message\":\"Su compra\
        \ ha sido exitosa.\"},\"fraud_score\":4.0,\"dispute\":false,\"capture\":false,\"\
        reference_code\":\"WbHCCUj7PT\",\"authorization_code\":\"A4suFj\",\"metadata\"\
        :{},\"total_fee\":47,\"fee_details\":{\"fixed_fee\":{},\"variable_fee\":{\"\
        currency_code\":\"PEN\",\"commision\":0.0399,\"total\":40}},\"total_fee_taxes\"\
        :7,\"transfer_amount\":953,\"paid\":false,\"statement_descriptor\":\"CULQI*\"\
        ,\"transfer_id\":null,\"capture_date\":null}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKpfFz8oAMFrXA=]
      x-amzn-requestid: [e9da38e5-8369-4c5b-9cd6-9a20a47ebda0]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183930']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"charge_id": "chr_test_g4VTW09Cc5SQvmmB", "amount": 100,
      "reason": "solicitud_comprador"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/refunds
  response:
    body: {string: "{\"object\":\"refund\",\"id\":\"ref_test_45IMmTJlag59rOKj\",\"\
        charge_id\":\"chr_test_g4VTW09Cc5SQvmmB\",\"creation_date\":1578103155000,\"\
        amount\":100,\"reason\":\"Devoluci\xF3n solicitada por el comercio\",\"metadata\"\
        :{}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKp3Gy8oAMF1cw=]
      x-amzn-requestid: [d5d63ac8-b65b-44a6-bda1-92427c9c8c1e]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183931']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: PATCH
    uri: https://api.culqi.com/v2/refunds/ref_test_45IMmTJlag59rOKj
  response:
    body: {string: "{\"object\":\"refund\",\"id\":\"ref_test_45IMmTJlag59rOKj\",\"\
        charge_id\":\"chr_test_g4VTW09Cc5SQvmmB\",\"creation_date\":1578103155000,\"\
        amount\":100,\"reason\":\"Devoluci\xF3n solicitada por el comercio\",\"metadata\"\
        :{\"order_id\":\"0001\"}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKqNFuaIAMFSJw=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:59:16 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [9c012d4e-6313-4dd5-8ac8-e31e5e0edc8a]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183932']
      x-culqi-version: [2.0.0]
    status: {code: 200, message: OK}
version: 1
