interactions:
- request:
    body: '{"cvv": "123", "card_number": "4111111111111111", "expiration_year": "2025",
      "expiration_month": "09", "email": "richard@piedpiper.com"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body:
      string: "{\"object\":\"token\",\"id\":\"tkn_test_H2l0POksFCWif1u7\",\"type\"\
        :\"card\",\"creation_date\":1589341116000,\"email\":\"richard@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"\
        PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"\
        Escritorio\"},\"metadata\":{}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - Mc3FaF4BoAMFaIw=
      x-amzn-Remapped-Content-Length:
      - '613'
      x-amzn-RequestId:
      - 9f5839d0-a901-4d5c-a8a9-ea74e8e28c74
    status:
      code: 201
      message: Created
- request:
    body: '{"amount": 1000, "capture": false, "currency_code": "PEN", "description":
      "Venta de prueba", "email": "richard@piedpiper.com", "installments": 0, "source_id":
      "tkn_test_H2l0POksFCWif1u7"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/charges
  response:
    body:
      string: "{\"duplicated\":false,\"object\":\"charge\",\"id\":\"chr_test_tkRxSXNEA6AjGVbg\"\
        ,\"creation_date\":1589341118000,\"amount\":1000,\"amount_refunded\":0,\"\
        current_amount\":1000,\"installments\":1,\"installments_amount\":1000,\"currency_code\"\
        :\"PEN\",\"email\":\"richard@piedpiper.com\",\"description\":\"Venta de prueba\"\
        ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_H2l0POksFCWif1u7\",\"\
        type\":\"card\",\"creation_date\":1589341116000,\"email\":\"richard@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"\
        PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"\
        Escritorio\"},\"metadata\":{}},\"outcome\":{\"type\":\"venta_exitosa\",\"\
        code\":\"AUT0000\",\"merchant_message\":\"La operaci\xF3n de venta ha sido\
        \ autorizada exitosamente\",\"user_message\":\"Su compra ha sido exitosa.\"\
        },\"fraud_score\":6.0,\"dispute\":false,\"capture\":false,\"reference_code\"\
        :\"Q8tZm6O7Da\",\"authorization_code\":\"yDvTBR\",\"metadata\":{},\"total_fee\"\
        :47,\"fee_details\":{\"fixed_fee\":{},\"variable_fee\":{\"currency_code\"\
        :\"PEN\",\"commision\":0.0399,\"total\":40}},\"total_fee_taxes\":7,\"transfer_amount\"\
        :953,\"paid\":false,\"statement_descriptor\":\"CULQI*\",\"transfer_id\":null,\"\
        capture_date\":null}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - Mc3FlH5boAMFUOQ=
      x-amzn-RequestId:
      - 86eed26f-fc6f-49c1-9ed3-31b65f31c42f
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '6892560'
      x-culqi-version:
      - 2.0.0
    status:
      code: 201
      message: Created
- request:
    body: '{"amount": 100, "reason": "solicitud_comprador", "charge_id": "chr_test_tkRxSXNEA6AjGVbg"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/refunds
  response:
    body:
      string: "{\"object\":\"refund\",\"id\":\"ref_test_IDr4zR7t3jNhOYXW\",\"charge_id\"\
        :\"chr_test_tkRxSXNEA6AjGVbg\",\"creation_date\":1589341121000,\"amount\"\
        :100,\"reason\":\"Devoluci\xF3n solicitada por el comercio\",\"metadata\"\
        :{}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - Mc3F9G_koAMFtrA=
      x-amzn-RequestId:
      - 83593317-ce51-4d5e-a518-c6b56b314a4e
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '6892561'
      x-culqi-version:
      - 2.0.0
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: GET
    uri: https://api.culqi.com/v2/refunds/ref_test_IDr4zR7t3jNhOYXW
  response:
    body:
      string: "{\"object\":\"refund\",\"id\":\"ref_test_IDr4zR7t3jNhOYXW\",\"charge_id\"\
        :\"chr_test_tkRxSXNEA6AjGVbg\",\"creation_date\":1589341121000,\"amount\"\
        :100,\"reason\":\"Devoluci\xF3n solicitada por el comercio\",\"metadata\"\
        :{}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '6892562'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - Mc3GXEKgoAMFqHA=
      x-amzn-Remapped-Date:
      - Wed, 13 May 2020 03:38:42 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - b4d2d5fc-cbdb-4e42-9a5b-faa0ef1457bd
    status:
      code: 200
      message: OK
version: 1
