interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: GET
    uri: https://api.culqi.com/v2/refunds
  response:
    body: {string: "{\"data\":[{\"object\":\"refund\",\"id\":\"ref_test_5yVXM1QKXrUSzrn4\"\
        ,\"charge_id\":\"chr_test_UBriLzL8knUfJdc8\",\"creation_date\":1578103139000,\"\
        amount\":100,\"reason\":\"Devoluci\xF3n solicitada por el comercio\",\"metadata\"\
        :{}},{\"object\":\"refund\",\"id\":\"ref_test_PJYglaBZKURFVCfe\",\"charge_id\"\
        :\"chr_test_SW4QFKRTGQ9zQDBz\",\"creation_date\":1578103053000,\"amount\"\
        :300,\"reason\":\"Devoluci\xF3n solicitada por el comercio\",\"metadata\"\
        :{}},{\"object\":\"refund\",\"id\":\"ref_test_CdvmvFwAmsCS4hDy\",\"charge_id\"\
        :\"chr_test_UhsNi63pQHUctb3Y\",\"creation_date\":1578103046000,\"amount\"\
        :300,\"r[...]
