interactions:
- request:
    body: !!python/unicode '{"email": "richardc8aa@piedpiper.com", "cvv": "123", "expiration_year":
      "2020", "card_number": "4111111111111111", "expiration_month": "09"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body: {string: "{\"object\":\"token\",\"id\":\"tkn_test_TcSqLkT8N6ORUspi\",\"\
        type\":\"card\",\"creation_date\":1578103162000,\"email\":\"richardc8aa@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"2800:200:e208:17e:6229:ea16:607c:4d74\",\"ip_country\":\"Peru\"\
        ,\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\"\
        :null,\"device_type\":\"Escritorio\"},\"metadata\":{}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKrLGaeIAMFlSg=]
      x-amzn-remapped-content-length: ['640']
      x-amzn-requestid: [40b22331-a79e-49bc-add9-a1b83cb47c43]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"first_name": "Richard", "email": "richardc8aa@piedpiper.com",
      "address": "Avenida Lima 123213", "phone_number": "+51998989789", "address_city":
      "LIMA", "country_code": "PE", "last_name": "Piedpiper"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/customers
  response:
    body: {string: !!python/unicode '{"object":"customer","id":"cus_test_AqFSE7LNQmA8dSXH","creation_date":1578103164221,"email":"richardc8aa@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
        Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKrZGc4IAMF3Zw=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:59:24 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [466401ac-8bfb-4cc6-9615-b927fe0c09b9]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183934']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"customer_id": "cus_test_AqFSE7LNQmA8dSXH", "token_id":
      "tkn_test_TcSqLkT8N6ORUspi"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/cards
  response:
    body: {string: "{\"object\":\"card\",\"id\":\"crd_test_ISCrgJLEOdbE18G7\",\"active\"\
        :true,\"creation_date\":1578103168307,\"customer_id\":\"cus_test_AqFSE7LNQmA8dSXH\"\
        ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_TcSqLkT8N6ORUspi\",\"\
        type\":\"card\",\"creation_date\":1578103162000,\"email\":\"richardc8aa@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"2800:200:e208:17e:6229:ea16:607c:4d74\",\"ip_country\":\"Peru\"\
        ,\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\"\
        :null,\"device_type\":\"Escritorio\"},\"metadata\":{}},\"metadata\":{\"ZDA\"\
        :true}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKreEKcIAMFgNQ=]
      x-amzn-requestid: [8e9b988e-ec55-438a-a8e8-a5e3b4439f09]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183935']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"interval": "dias", "name": "plan-0ff2", "currency_code":
      "PEN", "interval_count": 2, "amount": 1000, "trial_days": 30, "limit": 10}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/plans
  response:
    body: {string: "{\"object\":\"plan\",\"id\":\"pln_test_iWVFjVtAC4hb1dFd\",\"creation_date\"\
        :1578103168000,\"name\":\"plan-0ff2\",\"amount\":1000,\"currency_code\":\"\
        PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\"\
        :30,\"total_subscriptions\":0,\"metadata\":{}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKsIFPhIAMFsQA=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:59:28 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [15892edf-b2ed-4581-942d-de0a5a329794]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183938']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"card_id": "crd_test_ISCrgJLEOdbE18G7", "plan_id": "pln_test_iWVFjVtAC4hb1dFd"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/subscriptions
  response:
    body: {string: "{\"object\":\"subscription\",\"id\":\"sub_test_6mMGU9JXClckFATw\"\
        ,\"creation_date\":1578103169000,\"status\":\"Activa\",\"current_period\"\
        :0,\"total_period\":10,\"current_period_start\":1580619600000,\"current_period_end\"\
        :1580792400000,\"cancel_at_period_end\":false,\"cancel_at\":null,\"ended_at\"\
        :1582347600000,\"next_billing_date\":1580619600000,\"trial_start\":1578103169000,\"\
        trial_end\":1580695169000,\"charges\":[],\"plan\":{\"object\":\"plan\",\"\
        id\":\"pln_test_iWVFjVtAC4hb1dFd\",\"creation_date\":1578103168000,\"name\"\
        :\"plan-0ff2\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\"\
        :2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\"\
        :1,\"metadata\":{}},\"card\":{\"object\":\"card\",\"id\":\"crd_test_ISCrgJLEOdbE18G7\"\
        ,\"active\":true,\"creation_date\":1578103168000,\"customer_id\":\"cus_test_AqFSE7LNQmA8dSXH\"\
        ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_TcSqLkT8N6ORUspi\",\"\
        type\":\"card\",\"creation_date\":1578103162000,\"email\":\"richardc8aa@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":[...]
