interactions:
  - request:
      body:
        '{"cvv": "123", "card_number": "4111111111111111", "expiration_year": "2025",
        "expiration_month": "09", "email": "richardfcb1@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string:
          "{\"object\":\"token\",\"id\":\"tkn_test_I3kE4cZGg71hVzCv\",\"type\"\
          :\"card\",\"creation_date\":1589341130000,\"email\":\"richardfcb1@piedpiper.com\"\
          ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
          iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
          :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
          ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
          :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
          :{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"\
          PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"\
          Escritorio\"},\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3HoEwHIAMFz7g=
        x-amzn-Remapped-Content-Length:
          - "617"
        x-amzn-RequestId:
          - 057a2c3b-1951-4ad1-8e24-74e80d121dd1
      status:
        code: 201
        message: Created
  - request:
      body:
        '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
        "PE", "email": "richardfcb1@piedpiper.com", "first_name": "Richard", "last_name":
        "Piedpiper", "phone_number": "+51998989789"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/customers
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_XEq0Ai5b9Y2xwzBD","creation_date":1589341131604,"email":"richardfcb1@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3HzHFPoAMF5qg=
        x-amzn-RequestId:
          - 82e20cb4-5c91-40a0-b8d1-c77c9d861f40
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "6892570"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body: '{"token_id": "tkn_test_I3kE4cZGg71hVzCv", "customer_id": "cus_test_XEq0Ai5b9Y2xwzBD"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/cards
    response:
      body:
        string:
          "{\"object\":\"card\",\"id\":\"crd_test_YfmW28M4yJXxa9yG\",\"active\"\
          :true,\"creation_date\":1589341136206,\"customer_id\":\"cus_test_XEq0Ai5b9Y2xwzBD\"\
          ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_I3kE4cZGg71hVzCv\",\"\
          type\":\"card\",\"creation_date\":1589341130000,\"email\":\"richardfcb1@piedpiper.com\"\
          ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
          iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
          :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
          ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
          :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
          :{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"\
          PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"\
          Escritorio\"},\"metadata\":{}},\"metadata\":{\"ZDA\":true}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3H3EXBIAMFY0A=
        x-amzn-RequestId:
          - b2dccb8e-c772-4b73-9bf3-e65389c198ed
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "6892571"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body:
        '{"amount": 1000, "currency_code": "PEN", "interval": "dias", "interval_count":
        2, "limit": 10, "name": "plan-d243", "trial_days": 30}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/plans
    response:
      body:
        string:
          "{\"object\":\"plan\",\"id\":\"pln_test_mtGw6eQcQDKJP8U8\",\"creation_date\"\
          :1589341136000,\"name\":\"plan-d243\",\"amount\":1000,\"currency_code\":\"\
          PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\"\
          :30,\"total_subscriptions\":0,\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3ImHN8IAMF9Mg=
        x-amzn-RequestId:
          - d43dee06-fae2-42db-b94c-9b2a73ffe771
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "6892574"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body: '{"card_id": "crd_test_YfmW28M4yJXxa9yG", "plan_id": "pln_test_mtGw6eQcQDKJP8U8"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/subscriptions
    response:
      body:
        string:
          "{\"object\":\"subscription\",\"id\":\"sub_test_TQtvDEdaDoPsTeWg\",\"\
          creation_date\":1589341137000,\"status\":\"Activa\",\"current_period\":0,\"\
          total_period\":10,\"current_period_start\":1591851600000,\"current_period_end\"\
          :1592024400000,\"cancel_at_period_end\":false,\"cancel_at\":null,\"ended_at\"\
          :1593579600000,\"next_billing_date\":1591851600000,\"trial_start\":1589341137000,\"\
          trial_end\":1591933137000,\"charges\":[],\"plan\":{\"object\":\"plan\",\"\
          id\":\"pln_test_mtGw6eQcQDKJP8U8\",\"creation_date\":1589341136000,\"name\"\
          :\"plan-d243\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\"\
          :2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\"\
          :1,\"metadata\":{}},\"card\":{\"object\":\"card\",\"id\":\"crd_test_YfmW28M4yJXxa9yG\"\
          ,\"active\":true,\"creation_date\":1589341136000,\"customer_id\":\"cus_test_XEq0Ai5b9Y2xwzBD\"\
          ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_I3kE4cZGg71hVzCv\",\"\
          type\":\"card\",\"creation_date\":1589341130000,\"email\":\"richardfcb1@piedpiper.com\"\
          ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
          iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
          :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
          ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
          :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
          :{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"\
          PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"\
          Escritorio\"},\"metadata\":{}},\"metadata\":{}},\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "6892575"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - Mc3IuEOwoAMFfaw=
        x-amzn-Remapped-Date:
          - Wed, 13 May 2020 03:38:57 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 96603969-76aa-4e84-93fb-73f809518eab
      status:
        code: 201
        message: Created
version: 1
