interactions:
- request:
    body: !!python/unicode '{"email": "richard0361@piedpiper.com", "cvv": "123", "expiration_year":
      "2020", "card_number": "4111111111111111", "expiration_month": "09"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body: {string: "{\"object\":\"token\",\"id\":\"tkn_test_WOEv60C5ykYtComb\",\"\
        type\":\"card\",\"creation_date\":1578103170000,\"email\":\"richard0361@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"2800:200:e208:17e:6229:ea16:607c:4d74\",\"ip_country\":\"Peru\"\
        ,\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\"\
        :null,\"device_type\":\"Escritorio\"},\"metadata\":{}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKsYFoVIAMF6FA=]
      x-amzn-remapped-content-length: ['640']
      x-amzn-requestid: [9c74fab8-330a-4a37-abeb-ee388ebd6f7b]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"first_name": "Richard", "email": "richard0361@piedpiper.com",
      "address": "Avenida Lima 123213", "phone_number": "+51998989789", "address_city":
      "LIMA", "country_code": "PE", "last_name": "Piedpiper"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/customers
  response:
    body: {string: !!python/unicode '{"object":"customer","id":"cus_test_07XO03GM0vVIIaY7","creation_date":1578103171866,"email":"richard0361@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
        Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKsmEYGoAMFUmA=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:59:31 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [d0e4f9dd-adfe-407c-b31d-3f5b414a261c]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183941']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"customer_id": "cus_test_07XO03GM0vVIIaY7", "token_id":
      "tkn_test_WOEv60C5ykYtComb"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/cards
  response:
    body: {string: "{\"object\":\"card\",\"id\":\"crd_test_vYrlI7G6wiRU3qz6\",\"active\"\
        :true,\"creation_date\":1578103175932,\"customer_id\":\"cus_test_07XO03GM0vVIIaY7\"\
        ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_WOEv60C5ykYtComb\",\"\
        type\":\"card\",\"creation_date\":1578103170000,\"email\":\"richard0361@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"2800:200:e208:17e:6229:ea16:607c:4d74\",\"ip_country\":\"Peru\"\
        ,\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\"\
        :null,\"device_type\":\"Escritorio\"},\"metadata\":{}},\"metadata\":{\"ZDA\"\
        :true}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKsqGKSoAMFuug=]
      x-amzn-requestid: [af6b3f42-59c1-429b-bd73-8f99ab78d1e7]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183942']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"interval": "dias", "name": "plan-c7c3", "currency_code":
      "PEN", "interval_count": 2, "amount": 1000, "trial_days": 30, "limit": 10}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/plans
  response:
    body: {string: "{\"object\":\"plan\",\"id\":\"pln_test_HBcxWMhW7EjstYYr\",\"creation_date\"\
        :1578103176000,\"name\":\"plan-c7c3\",\"amount\":1000,\"currency_code\":\"\
        PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\"\
        :30,\"total_subscriptions\":0,\"metadata\":{}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKtTF_BIAMFm7g=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:59:36 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [b79a8929-cd15-4284-99c1-bb604a552419]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183945']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"card_id": "crd_test_vYrlI7G6wiRU3qz6", "plan_id": "pln_test_HBcxWMhW7EjstYYr"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/subscriptions
  response:
    body: {string: "{\"object\":\"subscription\",\"id\":\"sub_test_GTDcH7r7AJDRptFW\"\
        ,\"creation_date\":1578103177000,\"status\":\"Activa\",\"current_period\"\
        :0,\"total_period\":10,\"current_period_start\":1580619600000,\"current_period_end\"\
        :1580792400000,\"cancel_at_period_end\":false,\"cancel_at\":null,\"ended_at\"\
        :1582347600000,\"next_billing_date\":1580619600000,\"trial_start\":1578103177000,\"\
        trial_end\":1580695177000,\"charges\":[],\"plan\":{\"object\":\"plan\",\"\
        id\":\"pln_test_HBcxWMhW7EjstYYr\",\"creation_date\":1578103176000,\"name\"\
        :\"plan-c7c3\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\"\
        :2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\"\
        :1,\"metadata\":{}},\"card\":{\"object\":\"card\",\"id\":\"crd_test_vYrlI7G6wiRU3qz6\"\
        ,\"active\":true,\"creation_date\":1578103175000,\"customer_id\":\"cus_test_07XO03GM0vVIIaY7\"\
        ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_WOEv60C5ykYtComb\",\"\
        type\":\"card\",\"creation_date\":1578103170000,\"email\":\"richard0361@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":[...]
- request:
    body: !!python/unicode 'null'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: DELETE
    uri: https://api.culqi.com/v2/subscriptions/sub_test_GTDcH7r7AJDRptFW
  response:
    body: {string: "{\"id\":\"sub_test_GTDcH7r7AJDRptFW\",\"deleted\":true,\"merchant_message\"\
        :\"Se elimin\xF3 la suscripcion con ID sub_test_GTDcH7r7AJDRptFW exitosamente.\"\
        }"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKtkFLfoAMFXLg=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:59:38 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [ba5a5283-4135-41f5-b6c1-0c41c99544f7]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183947']
      x-culqi-version: [2.0.0]
    status: {code: 200, message: OK}
version: 1
