interactions:
- request:
    body: !!python/unicode '{"email": "richardfc12@piedpiper.com", "cvv": "123", "expiration_year":
      "2020", "card_number": "4111111111111111", "expiration_month": "09"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body: {string: "{\"object\":\"token\",\"id\":\"tkn_test_kK6oONdozY7wqN0k\",\"\
        type\":\"card\",\"creation_date\":1578103188000,\"email\":\"richardfc12@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"2800:200:e208:17e:6229:ea16:607c:4d74\",\"ip_country\":\"Peru\"\
        ,\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\"\
        :null,\"device_type\":\"Escritorio\"},\"metadata\":{}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKvHFQJoAMFXlw=]
      x-amzn-remapped-content-length: ['640']
      x-amzn-requestid: [9570cfbd-6e10-4921-8726-61f294b8c056]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"first_name": "Richard", "email": "richardfc12@piedpiper.com",
      "address": "Avenida Lima 123213", "phone_number": "+51998989789", "address_city":
      "LIMA", "country_code": "PE", "last_name": "Piedpiper"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/customers
  response:
    body: {string: !!python/unicode '{"object":"customer","id":"cus_test_yfFaRZ9vzWB3k4Cw","creation_date":1578103189464,"email":"richardfc12@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
        Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKvWG1SIAMFgTw=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:59:49 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [5f9cbba3-de19-4400-a481-cfbb83f778b9]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183957']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"customer_id": "cus_test_yfFaRZ9vzWB3k4Cw", "token_id":
      "tkn_test_kK6oONdozY7wqN0k"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/cards
  response:
    body: {string: "{\"object\":\"card\",\"id\":\"crd_test_53Bkxv237PB2LQJa\",\"active\"\
        :true,\"creation_date\":1578103193710,\"customer_id\":\"cus_test_yfFaRZ9vzWB3k4Cw\"\
        ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_kK6oONdozY7wqN0k\",\"\
        type\":\"card\",\"creation_date\":1578103188000,\"email\":\"richardfc12@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"2800:200:e208:17e:6229:ea16:607c:4d74\",\"ip_country\":\"Peru\"\
        ,\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\"\
        :null,\"device_type\":\"Escritorio\"},\"metadata\":{}},\"metadata\":{\"ZDA\"\
        :true}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKvaHH6oAMFyYw=]
      x-amzn-requestid: [e039bbde-8dbc-48e7-b355-851f28f300c6]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183958']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"interval": "dias", "name": "plan-1df3", "currency_code":
      "PEN", "interval_count": 2, "amount": 1000, "trial_days": 30, "limit": 10}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/plans
  response:
    body: {string: "{\"object\":\"plan\",\"id\":\"pln_test_VAc73BXlz2dpj1wJ\",\"creation_date\"\
        :1578103194000,\"name\":\"plan-1df3\",\"amount\":1000,\"currency_code\":\"\
        PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\"\
        :30,\"total_subscriptions\":0,\"metadata\":{}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKwFHYNoAMFzEQ=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:59:54 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [78eaacdd-ac33-43ec-b6a8-9500ad4a2a04]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183961']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"card_id": "crd_test_53Bkxv237PB2LQJa", "plan_id": "pln_test_VAc73BXlz2dpj1wJ"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/subscriptions
  response:
    body: {string: "{\"object\":\"subscription\",\"id\":\"sub_test_8pUcnQ2bAvw5vVLa\"\
        ,\"creation_date\":1578103194000,\"status\":\"Activa\",\"current_period\"\
        :0,\"total_period\":10,\"current_period_start\":1580619600000,\"current_period_end\"\
        :1580792400000,\"cancel_at_period_end\":false,\"cancel_at\":null,\"ended_at\"\
        :1582347600000,\"next_billing_date\":1580619600000,\"trial_start\":1578103194000,\"\
        trial_end\":1580695194000,\"charges\":[],\"plan\":{\"object\":\"plan\",\"\
        id\":\"pln_test_VAc73BXlz2dpj1wJ\",\"creation_date\":1578103194000,\"name\"\
        :\"plan-1df3\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\"\
        :2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\"\
        :1,\"metadata\":{}},\"card\":{\"object\":\"card\",\"id\":\"crd_test_53Bkxv237PB2LQJa\"\
        ,\"active\":true,\"creation_date\":1578103193000,\"customer_id\":\"cus_test_yfFaRZ9vzWB3k4Cw\"\
        ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_kK6oONdozY7wqN0k\",\"\
        type\":\"card\",\"creation_date\":1578103188000,\"email\":\"richardfc12@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":[...]
- request:
    body: !!python/unicode '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: PATCH
    uri: https://api.culqi.com/v2/subscriptions/sub_test_8pUcnQ2bAvw5vVLa
  response:
    body: {string: "{\"object\":\"subscription\",\"id\":\"sub_test_8pUcnQ2bAvw5vVLa\"\
        ,\"creation_date\":1578103194000,\"status\":\"Activa\",\"current_period\"\
        :0,\"total_period\":10,\"current_period_start\":1580619600000,\"current_period_end\"\
        :1580792400000,\"[...]
