interactions:
  - request:
      body:
        '{"cvv": "123", "card_number": "4111111111111111", "expiration_year": "2025",
        "expiration_month": "09", "email": "richardac10@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string:
          "{\"object\":\"token\",\"id\":\"tkn_test_FU9XvVskw8KHtaR7\",\"type\"\
          :\"card\",\"creation_date\":1589341138000,\"email\":\"richardac10@piedpiper.com\"\
          ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
          iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
          :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
          ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
          :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
          :{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"\
          PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"\
          Escritorio\"},\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3I6F_DoAMFaOA=
        x-amzn-Remapped-Content-Length:
          - "617"
        x-amzn-RequestId:
          - 43220c87-8878-4ea1-b44d-c22560dbf491
      status:
        code: 201
        message: Created
  - request:
      body:
        '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
        "PE", "email": "richardac10@piedpiper.com", "first_name": "Richard", "last_name":
        "Piedpiper", "phone_number": "+51998989789"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/customers
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_amcyt0kGDtcV0bSw","creation_date":1589341139952,"email":"richardac10@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3JGEJWoAMFXhw=
        x-amzn-RequestId:
          - 9eb32fd8-6d34-4bff-86f3-f28586f348e3
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "6892577"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body: '{"token_id": "tkn_test_FU9XvVskw8KHtaR7", "customer_id": "cus_test_amcyt0kGDtcV0bSw"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/cards
    response:
      body:
        string:
          "{\"object\":\"card\",\"id\":\"crd_test_V4DststwaL0N6KRE\",\"active\"\
          :true,\"creation_date\":1589341143818,\"customer_id\":\"cus_test_amcyt0kGDtcV0bSw\"\
          ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_FU9XvVskw8KHtaR7\",\"\
          type\":\"card\",\"creation_date\":1589341138000,\"email\":\"richardac10@piedpiper.com\"\
          ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
          iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
          :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
          ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
          :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
          :{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"\
          PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"\
          Escritorio\"},\"metadata\":{}},\"metadata\":{\"ZDA\":true}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3JLHN1IAMFUXg=
        x-amzn-RequestId:
          - 48915915-941a-4bb3-adb6-e4461abc445d
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "6892578"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body:
        '{"amount": 1000, "currency_code": "PEN", "interval": "dias", "interval_count":
        2, "limit": 10, "name": "plan-7c88", "trial_days": 30}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/plans
    response:
      body:
        string:
          "{\"object\":\"plan\",\"id\":\"pln_test_681GlWoQWBoWH4LC\",\"creation_date\"\
          :1589341144000,\"name\":\"plan-7c88\",\"amount\":1000,\"currency_code\":\"\
          PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\"\
          :30,\"total_subscriptions\":0,\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3JxGHboAMFxpg=
        x-amzn-RequestId:
          - 3fdac65b-7419-4f10-af97-6f9f0bff7371
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "6892581"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body: '{"card_id": "crd_test_V4DststwaL0N6KRE", "plan_id": "pln_test_681GlWoQWBoWH4LC"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/subscriptions
    response:
      body:
        string:
          "{\"object\":\"subscription\",\"id\":\"sub_test_x6XajHPdcsEWyqx6\",\"\
          creation_date\":1589341144000,\"status\":\"Activa\",\"current_period\":0,\"\
          total_period\":10,\"current_period_start\":1591851600000,\"current_period_end\"\
          :1592024400000,\"cancel_at_period_end\":false,\"cancel_at\":null,\"ended_at\"\
          :1593579600000,\"next_billing_date\":1591851600000,\"trial_start\":1589341144000,\"\
          trial_end\":1591933144000,\"charges\":[],\"plan\":{\"object\":\"plan\",\"\
          id\":\"pln_test_681GlWoQWBoWH4LC\",\"creation_date\":1589341144000,\"name\"\
          :\"plan-7c88\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\"\
          :2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\"\
          :1,\"metadata\":{}},\"card\":{\"object\":\"card\",\"id\":\"crd_test_V4DststwaL0N6KRE\"\
          ,\"active\":true,\"creation_date\":1589341143000,\"customer_id\":\"cus_test_amcyt0kGDtcV0bSw\"\
          ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_FU9XvVskw8KHtaR7\",\"\
          type\":\"card\",\"creation_date\":1589341138000,\"email\":\"richardac10@piedpiper.com\"\
          ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
          iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
          :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
          ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
          :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
          :{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"\
          PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"\
          Escritorio\"},\"metadata\":{}},\"metadata\":{}},\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "6892582"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - Mc3J3G1qIAMFr6Q=
        x-amzn-Remapped-Date:
          - Wed, 13 May 2020 03:39:04 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 678f395d-923b-43ea-b26e-d7b8eea7122f
      status:
        code: 201
        message: Created
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: DELETE
      uri: https://api.culqi.com/v2/subscriptions/sub_test_x6XajHPdcsEWyqx6
    response:
      body:
        string:
          "{\"id\":\"sub_test_x6XajHPdcsEWyqx6\",\"deleted\":true,\"merchant_message\"\
          :\"Se elimin\xF3 la suscripcion con ID sub_test_x6XajHPdcsEWyqx6 exitosamente.\"\
          }"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "6892583"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - Mc3KBHyMIAMFTVQ=
        x-amzn-Remapped-Date:
          - Wed, 13 May 2020 03:39:05 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 8abc6af6-c34f-4ecf-afa3-a52357e6387f
      status:
        code: 200
        message: OK
version: 1
