interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: GET
    uri: https://api.culqi.com/v2/subscriptions
  response:
    body:
      string: "{\"data\":[{\"object\":\"subscription\",\"id\":\"sub_test_MTJof9gb9r9gj681\"\
        ,\"creation_date\":1589947373000,\"status\":\"Activa\",\"current_period\"\
        :0,\"total_period\":10,\"current_period_start\":1592456400000,\"current_period_end\"\
        :1592629200000,\"cancel_at_period_end\":false,\"cancel_at\":null,\"ended_at\"\
        :1594184400000,\"next_billing_date\":1592456400000,\"trial_start\":1589947373000,\"\
        trial_end\":1592539373000,\"charges\":[],\"plan\":{\"object\":\"plan\",\"\
        id\":\"pln_test_IF8WoqaMZEimcCAk\",\"creation_date\":1589947373000,\"name\"\
        :\"plan-8958\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\"\
        :2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\"\
        :1,\"metadata\":{}},\"card\":{\"object\":\"card\",\"id\":\"crd_test_mUyHl3b5ybowvySN\"\
        ,\"active\":true,\"creation_date\":1589947372000,\"customer_id\":\"cus_test_6jGFGxqJ57HhQdxg\"\
        ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_JgxtbcvW2Ja1aSep\",\"\
        type\":\"card\",\"creation_date\":1589947365000,\"email\":\"richard3356@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"\
        PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"\
        Escritorio\"},\"metadata\":{}},\"metadata\":{}},\"metadata\":{\"order_id\"\
        :\"0001\"}},{\"object\":\"subscription\",\"id\":\"sub_test_I0YloVSCA59HcKx1\"\
        ,\"creation_date\":1589947363000,\"status\":\"Activa\",\"current_period\"\
        :0,\"total_period\":10,\"current_period_start\":1592456400000,\"current_period_end\"\
        :1592629200000,\"cancel_at_period_end\":false,\"cancel_at\":null,\"ended_at\"\
        :1594184400000,\"next_billing_date\":1592456400000,\"[...]
