interactions:
- request:
    body: !!python/unicode '{"email": "richard2c6d@piedpiper.com", "cvv": "123", "expiration_year":
      "2020", "card_number": "4111111111111111", "expiration_month": "09"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body: {string: "{\"object\":\"token\",\"id\":\"tkn_test_gVE14kHnLk2BVbxB\",\"\
        type\":\"card\",\"creation_date\":1578103179000,\"email\":\"richard2c6d@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"2800:200:e208:17e:6229:ea16:607c:4d74\",\"ip_country\":\"Peru\"\
        ,\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\"\
        :null,\"device_type\":\"Escritorio\"},\"metadata\":{}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKtuF6IoAMFTHA=]
      x-amzn-remapped-content-length: ['640']
      x-amzn-requestid: [6f40f6cf-8ac8-4bb6-8f9a-813c25f83a03]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"first_name": "Richard", "email": "richard2c6d@piedpiper.com",
      "address": "Avenida Lima 123213", "phone_number": "+51998989789", "address_city":
      "LIMA", "country_code": "PE", "last_name": "Piedpiper"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/customers
  response:
    body: {string: !!python/unicode '{"object":"customer","id":"cus_test_D233vj8QacS6EXmn","creation_date":1578103180619,"email":"richard2c6d@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
        Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKt9FmDoAMFxEQ=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:59:40 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [c5ac4ece-693a-4ce8-9257-b36bde3cf16b]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183949']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"customer_id": "cus_test_D233vj8QacS6EXmn", "token_id":
      "tkn_test_gVE14kHnLk2BVbxB"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/cards
  response:
    body: {string: "{\"object\":\"card\",\"id\":\"crd_test_tcSH7LRSA2g2dwl2\",\"active\"\
        :true,\"creation_date\":1578103185336,\"customer_id\":\"cus_test_D233vj8QacS6EXmn\"\
        ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_gVE14kHnLk2BVbxB\",\"\
        type\":\"card\",\"creation_date\":1578103179000,\"email\":\"richard2c6d@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"2800:200:e208:17e:6229:ea16:607c:4d74\",\"ip_country\":\"Peru\"\
        ,\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\"\
        :null,\"device_type\":\"Escritorio\"},\"metadata\":{}},\"metadata\":{\"ZDA\"\
        :true}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKuHEySIAMFUvg=]
      x-amzn-requestid: [c5158176-2d47-48eb-9baf-b27cfa640555]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183950']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"interval": "dias", "name": "plan-a56e", "currency_code":
      "PEN", "interval_count": 2, "amount": 1000, "trial_days": 30, "limit": 10}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/plans
  response:
    body: {string: "{\"object\":\"plan\",\"id\":\"pln_test_jTbRwHRsixUZyAbu\",\"creation_date\"\
        :1578103185000,\"name\":\"plan-a56e\",\"amount\":1000,\"currency_code\":\"\
        PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\"\
        :30,\"total_subscriptions\":0,\"metadata\":{}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKuxH_VoAMFyjA=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 01:59:45 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [cbe0ccfd-927d-4027-bd89-8e41ce24f451]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183953']
      x-culqi-version: [2.0.0]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"card_id": "crd_test_tcSH7LRSA2g2dwl2", "plan_id": "pln_test_jTbRwHRsixUZyAbu"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://api.culqi.com/v2/subscriptions
  response:
    body: {string: "{\"object\":\"subscription\",\"id\":\"sub_test_XkrMxCK32lfPoyKd\"\
        ,\"creation_date\":1578103186000,\"status\":\"Activa\",\"current_period\"\
        :0,\"total_period\":10,\"current_period_start\":1580619600000,\"current_period_end\"\
        :1580792400000,\"cancel_at_period_end\":false,\"cancel_at\":null,\"ended_at\"\
        :1582347600000,\"next_billing_date\":1580619600000,\"trial_start\":1578103186000,\"\
        trial_end\":1580695186000,\"charges\":[],\"plan\":{\"object\":\"plan\",\"\
        id\":\"pln_test_jTbRwHRsixUZyAbu\",\"creation_date\":1578103185000,\"name\"\
        :\"plan-a56e\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\"\
        :2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\"\
        :1,\"metadata\":{}},\"card\":{\"object\":\"card\",\"id\":\"crd_test_tcSH7LRSA2g2dwl2\"\
        ,\"active\":true,\"creation_date\":1578103185000,\"customer_id\":\"cus_test_D233vj8QacS6EXmn\"\
        ,\"source\":{\"object\":\"token\",\"id\":\"tkn_test_gVE14kHnLk2BVbxB\",\"\
        type\":\"card\",\"creation_date\":1578103179000,\"email\":\"richard2c6d@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":[...]
- request:
    body: null
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: GET
    uri: https://api.culqi.com/v2/subscriptions/sub_test_XkrMxCK32lfPoyKd
  response:
    body: {string: "{\"object\":\"subscription\",\"id\":\"sub_test_XkrMxCK32lfPoyKd\"\
        ,\"creation_date\":1578103186000,\"status\":\"Activa\",\"current_period\"\
        :0,\"total_period\":10,\"current_period_start\":1580619600000,\"current_period_end\"\
        :158[...]
