interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: GET
    uri: https://api.culqi.com/v2/tokens
  response:
    body: {string: "{\"data\":[{\"object\":\"token\",\"id\":\"tkn_test_O99LnZmJkjNfbITE\"\
        ,\"type\":\"card\",\"creation_date\":1578103196000,\"email\":\"richard@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"2800:200:e208:17e:6229:ea16:607c:4d74\",\"ip_country\":\"Peru\"\
        ,\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\"\
        :null,\"device_type\":\"Escritorio\"},\"metadata\":{}},{\"object\":\"token\"\
        ,\"id\":\"tkn_test_kK6oONdozY7wqN0k\",\"type\":\"card\",\"creation_date\"\
        :1578103188000,\"email\":\"richardfc12@piedpiper.com\",\"card_number\":\"\
        411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\"\
        :\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\"\
        ,\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\"\
        :\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"\
        installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"\
        2800:200:e208:17e:6229:ea16:607c:4d74\",\"ip_country\":\"Peru\",\"ip_country_code\"\
        :\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\"\
        :\"Escritorio\"},\"metadata\":{}},{\"object\":\"token\",\"id\":\"tkn_test_gVE14kHnLk2BVbxB\"\
        ,\"type\":\"card\",\"creation_date\":1578103179000,\"email\":\"richard2c6d@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\[...]
