interactions:
- request:
    body: !!python/unicode '{"email": "richard@piedpiper.com", "cvv": "123", "expiration_year":
      "2020", "card_number": "4111111111111111", "expiration_month": "09"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body: {string: "{\"object\":\"token\",\"id\":\"tkn_test_O99LnZmJkjNfbITE\",\"\
        type\":\"card\",\"creation_date\":1578103196000,\"email\":\"richard@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"2800:200:e208:17e:6229:ea16:607c:4d74\",\"ip_country\":\"Peru\"\
        ,\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\"\
        :null,\"device_type\":\"Escritorio\"},\"metadata\":{}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwKweHVYIAMF5ug=]
      x-amzn-remapped-content-length: ['636']
      x-amzn-requestid: [d40d25af-64f5-4b1e-af3a-82a30c458b56]
    status: {code: 201, message: Created}
version: 1
