interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: GET
    uri: https://api.culqi.com/v2/tokens
  response:
    body:
      string: "{\"data\":[{\"object\":\"token\",\"id\":\"tkn_test_jbdoJHEuYm8vkq7L\"\
        ,\"type\":\"card\",\"creation_date\":1589341166000,\"email\":\"richard@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"\
        PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"\
        Escritorio\"},\"metadata\":{}},{\"object\":\"token\",\"id\":\"tkn_test_KjoimZhER88DJonW\"\
        ,\"type\":\"card\",\"creation_date\":1589341156000,\"email\":\"richard58d2@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null[...]
