interactions:
- request:
    body: '{"card_number": "4000020000000000", "expiration_month": "10", "expiration_year":
      "2025", "cvv": "354", "email": "richard@piedpiper.com"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body:
      string: "{\"object\":\"token\",\"id\":\"tkn_test_yZ0tEP3Q9oXoV9Z6\",\"type\"\
        :\"card\",\"creation_date\":1589955040000,\"email\":\"richard@piedpiper.com\"\
        ,\"card_number\":\"400002******0000\",\"last_four\":\"0000\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"400002\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"RIVER\
        \ VALLEY C.U.\",\"country\":\"UNITED STATES\",\"country_code\":\"US\",\"website\"\
        :null,\"phone_number\":null},\"installments_allowed\":[]},\"client\":{\"ip\"\
        :\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"\
        browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"\
        },\"metadata\":{}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0R7EHRwIAMFnpA=
      x-amzn-Remapped-Content-Length:
      - '608'
      x-amzn-RequestId:
      - fef2acf8-5685-4f09-ba5e-664c370ad815
    status:
      code: 201
      message: Created
version: 1
