interactions:
- request:
    body: '{"card_number": "36000000000008", "expiration_month": "09", "expiration_year":
      "2025", "cvv": "683", "email": "richard@piedpiper.com"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body:
      string: '{"object":"token","id":"tkn_test_7REjn1vAZ5JVMoOJ","type":"card","creation_date":1589955033000,"email":"richard@piedpiper.com","card_number":"360000****0008","last_four":"0008","active":true,"iin":{"object":"iin","bin":"360000","card_brand":"Diners","card_type":"credito","card_category":null,"issuer":{"name":"","country":"UNITED
        STATES","country_code":"US","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"190.237.22.191","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0R57F9QIAMFklg=
      x-amzn-Remapped-Content-Length:
      - '585'
      x-amzn-RequestId:
      - 16261676-2a96-4301-b8aa-8a9952226f94
    status:
      code: 201
      message: Created
version: 1
