interactions:
- request:
    body: '{"card_number": "5111111111111118", "expiration_month": "06", "expiration_year":
      "2025", "cvv": "039", "email": "richard@piedpiper.com"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body:
      string: "{\"object\":\"token\",\"id\":\"tkn_test_MPvAkiATz1ubdp2t\",\"type\"\
        :\"card\",\"creation_date\":1589955044000,\"email\":\"richard@piedpiper.com\"\
        ,\"card_number\":\"511111******1118\",\"last_four\":\"1118\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"511111\",\"card_brand\":\"MasterCard\"\
        ,\"card_type\":\"debito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"\
        name\":\"INTERBANK\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\"\
        :null,\"phone_number\":null},\"installments_allowed\":[24,2,3,4,5,6,7,8,9,12,48]},\"\
        client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\"\
        :\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\"\
        :\"Escritorio\"},\"metadata\":{}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0R7qHHAIAMFoTA=
      x-amzn-Remapped-Content-Length:
      - '620'
      x-amzn-RequestId:
      - 9b091ab0-9694-46d4-96f4-52945d4eca1e
    status:
      code: 201
      message: Created
version: 1
