interactions:
- request:
    body: !!python/unicode '{"email": "richard@piedpiper.com", "cvv": "123", "expiration_year":
      "2020", "card_number": "4111111111111111", "expiration_month": "09"}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body: {string: "{\"object\":\"token\",\"id\":\"tkn_test_fORrZCVc3odwLLgW\",\"\
        type\":\"card\",\"creation_date\":1578103230000,\"email\":\"richard@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"2800:200:e208:17e:6229:ea16:607c:4d74\",\"ip_country\":\"Peru\"\
        ,\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\"\
        :null,\"device_type\":\"Escritorio\"},\"metadata\":{}}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwK1sFWcIAMFiLg=]
      x-amzn-remapped-content-length: ['636']
      x-amzn-requestid: [d72b531a-8e63-4df1-8e8f-2991f6692ca0]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization: [Bearer culiq_api_key]
      Content-type: [application/json]
    method: PATCH
    uri: https://api.culqi.com/v2/tokens/tkn_test_fORrZCVc3odwLLgW
  response:
    body: {string: "{\"object\":\"token\",\"id\":\"tkn_test_fORrZCVc3odwLLgW\",\"\
        type\":\"card\",\"creation_date\":1578103230000,\"email\":\"richard@piedpiper.com\"\
        ,\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"\
        iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\"\
        :\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\"\
        ,\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\"\
        :null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\"\
        :{\"ip\":\"2800:200:e208:17e:6229:ea16:607c:4d74\",\"ip_country\":\"Peru\"\
        ,\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\"\
        :null,\"device_type\":\"Escritorio\"},\"metadata\":{\"order_id\":\"0001\"\
        }}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-amz-apigw-id: [FwK17FIYoAMFq8w=]
      x-amzn-remapped-connection: [keep-alive]
      x-amzn-remapped-date: ['Sat, 04 Jan 2020 02:00:31 GMT']
      x-amzn-remapped-server: [nginx, ':']
      x-amzn-requestid: [a1dc9067-519c-47ce-aed8-d59961d4cc1e]
      x-culqi-environment: [test]
      x-culqi-tracking-id: ['6183981']
      x-culqi-version: [2.0.0]
    status: {code: 200, message: OK}
version: 1
